{% extends './template/layout.html' %}
{% block main %}
<div class="layui-bread">
  <span class="layui-breadcrumb">
    <a href="/admin">后台管理系统</a>
    <a href="/admin/about">关于我们</a>
    <a class="active">添加关于我们</a>
  </span>
</div>
<div class="layui-content">
  <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
  <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
  <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
  <form class="layui-form">
    <div class="layui-form-item">
      <label class="layui-form-label">展示图片</label>
      <div class="layui-input-block">
        <label>
          <input type="file" name="show_img" id="show_img" />
          <span type="button" class="layui-btn show_img_btn">
            <i class="layui-icon">&#xe67c;</i>上传展示图片
          </span>
          <img class="show_img" src="" alt="" />
        </label>
      </div>
    </div>
    
    <div class="layui-form-item">
      <label class="layui-form-label">展示内容</label>
      <div class="layui-input-block">
        <script id="editor" type="text/plain" style="width:100%;height:300px;"></script>
      </div>
    </div>
    
    <div class="layui-form-item">
      <div class="layui-input-block">
        <a class="layui-btn add">添加</a>
        <a class="layui-btn layui-btn-primary" onclick="window.history.go(-1);">返回</a>
      </div>
    </div>
  </form>
</div>
<style>
  #show_img {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
  }

  .show_img {
    display: none;
    height: 200px;
  }

  .layui-form-label {
    width: 100px;
  }

  .layui-input-block {
    margin-left: 130px;
  }
</style>
<script>
  $(function () {
    var ue = UE.getEditor('editor');
    layui.use(['element', 'form'], function () {
      var element = layui.element;
      var form = layui.form;

      $('#show_img').change(function () {
        var _file = $(this);
        var _fileObj = _file[0];
        var windowURL = window.URL || window.webkitURL;
        var dataURL;
        var img = $(".show_img");
        if (_fileObj.files[0].type.indexOf('image') == -1) {
          _file.val("");
          layer.msg("资讯图片只支持图片类型", {
            time: 1000
          });
          return;
        }
        if (_fileObj && _fileObj.files && _fileObj.files[0]) {
          dataURL = windowURL.createObjectURL(_fileObj.files[0]);
          img.show().attr('src', dataURL);
          $('.show_img_btn').hide();
        } else {
          dataURL = _file.val();
          var imgObj = img[0];
          imgObj.style.filter =
            "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
          imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;
        }
      })

      $('.add').click(function () {
        var _sendData = {
          img: $('input[name="show_img"]').val(),
          content: ue.getContent()
        }
        if (_sendData.img == "") {
          layer.msg('请上传展示图片', {
            time: 1000
          })
        } else if (_sendData.content == "") {
          layer.msg('请输入资讯内容', {
            time: 1000
          })
        } else {
          var file = document.getElementById("show_img");//上传图片的input
          var formData = new FormData();//创建formdata对象
          formData.append('file', file.files[0]);//给formdata对象中放入数据(键值对的方式)
          $.ajax({
            url: '/api/upload',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
              if (data.code == 200) {
                _sendData.img = data.data;
                aboutAdd(_sendData)
              } else {
                layer.msg("图片上传失败", {
                  time: 1000
                });
              }
            },
            error: function () {
              layer.msg("与服务器通信发生错误", {
                time: 1000
              });
            }
          });
        }

        function aboutAdd(data) {
          $.ajax({
            url: '/api/about/about_add',
            type: 'POST',
            data: _sendData,
            beforeSend: function () {
              layer.load(2, {
                shade: [0.2, '#000']
              });
            },
            success: function (data) {
              layer.closeAll();
              layer.msg(data.msg, {
                time: 1000
              });
              if (data.code == 200) {
                setTimeout(function () {
                  window.location.href = "/admin/about";
                }, 1000)
              }
            },
            error: function () {
              layer.closeAll();
              layer.msg("与服务器通信发生错误", {
                time: 1000
              });
            }
          });
        }
      })
    })
  })
</script>
{% endblock %}