{% extends './template/layout.html' %}
{% block main %}
<div class="layui-card">
  <span class="layui-breadcrumb">
    <a href="">后台管理系统</a>
    <a class="active" href="">Banner管理</a>
  </span>
</div>
<a href="banner_add" class="layui-btn">添加Banner</a>
<table class="layui-table" id="table" lay-filter="operation"></table>
<script type="text/html" id="operation">
  <!-- {{#  if( d.status ){ }} -->
  <a class="layui-btn layui-btn-xs" lay-event="on">开启</a>
  <!-- {{#  }else{ }} -->
  <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="off">关闭</a>
  <!-- {{#  } }} -->
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>
<style>
  .layui-table img.table_img {
    display: block;
    width: auto;
    max-width: inherit;
    height: 100px;
    margin: 10px auto;
  }
  .layui-table-cell {
    height: auto;
  }
</style>
<!-- //JavaScript代码区域 -->
<script>
  $(function () {
    var url = '/api/banner_list';
    var config = {
      elem: '#table',
      url: url,
      cols: [
        [ //表头
          {
            width: "40%",
            title: 'Banner图片',
            field: 'banner',
            templet: function (item) {
              return "<img src=" + item.banner + " class='table_img' />"
            }
          }, {
            width: "30%",
            title: '状态',
            align: "center",
            field: 'status',
            templet: function (item) {
              return item.status ? "开启" : "关闭"
            }
          },
          {
            width: '30%',
            title: '操作',
            align: 'center',
            toolbar: '#operation'
          }
        ]
      ]
    };
    layui.use(['element', 'form', 'layer', 'jquery', 'table'], function () {
      var element = layui.element;
      var table = layui.table;
      var layer = layui.layer;
      var $ = layui.jquery;
      table.render(config);

      //监听工具条
      table.on('tool(operation)', function (obj) {
        var data = obj.data;
        var layEvent = obj.event;
        var _id = data._id.toString();
        if (layEvent === 'delete') {
          layer.open({
            id: 1,
            content: '确认要删除吗？',
            btn: ['确认', '取消'],
            btn1: function (index, layero) {
              $.ajax({
                type: 'POST',
                url: '/api/banner_delete',
                data: {
                  id: _id
                },
                success: function (data) {
                  layer.closeAll();
                  layer.msg(data.msg, {
                    time: 1000
                  });
                  if (data.code == 200) {
                    setTimeout(function(){
                      table.render(config);
                    },1000)
                  }
                },
                error: function () {
                  layer.msg("与服务器通信发生错误", {
                    time: 1000
                  });
                },
              });
            },
          })
        } else if (layEvent === 'edit') {
          location.href = 'banner_update?id=' + data._id.toString();
        } else if (layEvent === 'on') {
          $.ajax({
            type: 'POST',
            url: '/api/banner_on',
            data: {
              id: _id
            },
            success: function (data) {
              layer.closeAll();
              layer.msg(data.msg, {
                time: 1000
              })
              if (data.code == 200) {
                table.render(config);
              }
            }
          });
        } else if (layEvent === 'off') {
          $.ajax({
            type: 'POST',
            url: '/api/banner_off',
            data: {
              id: _id
            },
            success: function (data) {
              layer.closeAll();
              layer.msg(data.msg, {
                time: 1000
              })
              if (data.code == 200) {
                table.render(config);
              }
            }
          });
        }
      });
    });
  })
</script>
{% endblock %}