{% extends './template/layout.html' %}
{% block main %}
<div class="layui-bread">
  <span class="layui-breadcrumb">
    <a href="/admin">后台管理系统</a>
    <a href="/admin/banner">Banner管理</a>
    <a class="active">Banner修改</a>
  </span>
</div>
<div class="layui-content">
  <form class="layui-form">
    <input type="hidden" name="id" value="{{ data._id.toString() }}">
    <div class="layui-form-item">
      <label class="layui-form-label">Banner图片</label>
      <div class="layui-input-block">
        <label>
          <input type="file" name="banner" id="banner" />
          <img class="banner_img" src="{{ data.banner }}" alt="{{ data.banner }}" />
        </label>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">是否开启</label>
      <div class="layui-input-block">
        <input type="radio" name="status" value="true" title="开启" {% if data.status %} checked {% else %}{% endif %}>
        <input type="radio" name="status" value="false" title="关闭" {% if !data.status %} checked {% else %}{% endif %}>
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <a class="layui-btn update">修改Banner</a>
        <a class="layui-btn layui-btn-primary" onclick="window.history.go(-1);">返回</a>
      </div>
    </div>
  </form>
</div>
<style>
  #banner {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
  }

  .banner_img {
    min-width: 100px;
    height: 100px;
  }
</style>
<script>
  $(function () {
    layui.use(['element', 'jquery', 'form', "layer"], function () {
      var element = layui.element;
      var $ = layui.jquery;
      var form = layui.form;
      var layer = layui.layer;
      $('#banner').change(function () {
        var _file = $(this);
        var _fileObj = _file[0];
        var windowURL = window.URL || window.webkitURL;
        var dataURL;
        var img = $(".banner_img");
        if (_fileObj.files[0].type.indexOf('image') == -1) {
          _file.val("");
          layer.msg("Banner只支持图片类型", {
            time: 1000
          });
          return;
        }
        if (_fileObj && _fileObj.files && _fileObj.files[0]) {
          dataURL = windowURL.createObjectURL(_fileObj.files[0]);
          img.show().attr('src', dataURL);
          $('.banner_btn').hide();
        } else {
          dataURL = _file.val();
          var imgObj = img[0];
          imgObj.style.filter =
            "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
          imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;
        }
      })
      $('.update').click(function () {
        var _sendData = {
          banner: $('input[name="banner"]').val(),
          status: $('input[name="status"]:checked').val(),
          id: $('input[name="id"]').val()
        }
        if (_sendData.banner) { //修改了图片
          var file = document.getElementById("banner");//上传图片的input
          var formData = new FormData();//创建formdata对象
          formData.append('file', file.files[0]);//给formdata对象中放入数据(键值对的方式)
          $.ajax({
            url: '/api/upload',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
              if (data.code == 200) {
                _sendData.banner = data.data;
                bannerUpdate(_sendData)
              } else {
                layer.msg("图片上传失败", {
                  time: 1000
                });
              }
            },
            error: function () {
              layer.msg("与服务器通信发生错误", {
                time: 1000
              });
            }
          });
        } else {
          bannerUpdate(_sendData)
        }
      })

      function bannerUpdate(data) {
        $.ajax({
          type: 'POST',
          url: '/api/banner/banner_update',
          data: data,
          beforeSend: function () {
            layer.load(2, {
              shade: [0.2, '#000']
            });
          },
          success: function (data) {
            layer.closeAll();
            layer.msg(data.msg, {
              time: 1000
            });
            if (data.code == 200) {
              setTimeout(function () {
                window.location.href = "/admin/banner";
              }, 1000)
            }
          },
          error: function () {
            layer.closeAll();
            layer.msg("与服务器通信发生错误", {
              time: 1000
            });
          }
        });
      }
    })
  })
</script>
{% endblock %}