{% extends './template/layout.html' %}
{% block main %}
<div class="layui-card">
  <span class="layui-breadcrumb">
    <a href="">后台管理系统</a>
    <a href="">Banner管理</a>
    <a class="active" href="">Banner添加</a>
  </span>
</div>
<div class="layui-content">
  <form class="layui-form">
    <div class="layui-form-item">
      <label class="layui-form-label">Banner图片</label>
      <div class="layui-input-block">
        <label>
          <input type="file" name="banner" id="banner" />
          <span type="button" class="layui-btn banner_btn">
            <i class="layui-icon">&#xe67c;</i>上传banner
          </span>
          <img class="banner_img" src="" alt="" />
        </label>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">是否开启</label>
      <div class="layui-input-block">
        <input type="radio" name="status" value="true" title="开启" checked>
        <input type="radio" name="status" value="false" title="关闭">
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <a class="layui-btn add">添加Banner</a>
        <a class="layui-btn layui-btn-primary" onclick="window.history.go(-1);">返回</a>
      </div>
    </div>
  </form>
</div>
<style>
  #banner {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
  }

  .banner_img {
    display: none;
    height: 100px;
  }
</style>
<script>
  $(function () {
    layui.use(['element', 'jquery', 'form', "layer"], function () {
      var element = layui.element;
      var $ = layui.jquery;
      var form = layui.form;
      var layer = layui.layer;

      $('#banner').change(function () {
        var _file = $(this);
        var _fileObj = _file[0];
        var windowURL = window.URL || window.webkitURL;
        var dataURL;
        var img = $(".banner_img");
        if (_fileObj.files[0].type.indexOf('image') == -1) {
          _file.val("");
          layer.msg("Banner只支持图片类型", {
            time: 1000
          });
          return;
        }
        if (_fileObj && _fileObj.files && _fileObj.files[0]) {
          dataURL = windowURL.createObjectURL(_fileObj.files[0]);
          img.show().attr('src', dataURL);
          $('.banner_btn').hide();
        } else {
          dataURL = _file.val();
          var imgObj = img[0];
          imgObj.style.filter =
            "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
          imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;
        }
      })
      $('.add').click(function () {
        var _banner = $('input[name="banner"]').val();
        var _status = $('input[name="status"]:checked').val();
        var _sendData = {
          banner: _banner,
          status: _status
        }

        if (_banner == "") {
          layer.msg("请上传Banner", {
            time: 1000
          });
        } else {
          //上传图片的input
          var file = document.getElementById("banner");
          //创建formdata对象
          var formData = new FormData();
          //给formdata对象中放入数据(键值对的方式)
          formData.append('file', file.files[0]);
          //提交请求
          $.ajax({
            url: '/api/upload',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
              if (data.code == 200) {
                _sendData.banner = data.data;
                bannerAdd(_sendData)
              } else {
                layer.msg("图片上传失败", {
                  time: 1000
                });
              }
            },
            error: function () {
              layer.msg("与服务器通信发生错误", {
                time: 1000
              });
            }
          });
        }
      })

      function bannerAdd(data) {
        $.ajax({
          url: '/api/banner_add', //请求路径
          type: 'POST',
          data: data,
          beforeSend: function () {
            layer.load(2, {
              shade: [0.2, '#000']
            });
          },
          success: function (data) {
            layer.closeAll();
            layer.msg(data.msg, {
              time: 1000
            });
            if (data.code == 200) {
              setTimeout(function () {
                window.location.href = "/admin/banner";
              }, 1000)
            }
          },
          error: function () {
            layer.closeAll();
            layer.msg("与服务器通信发生错误", {
              time: 1000
            });
          }
        });
      }
    })
  })
</script>
{% endblock %}