{% extends './template/layout.html' %}
{% block main %}
<div class="layui-bread">
  <span class="layui-breadcrumb">
    <a href="/admin">后台管理系统</a>
    <a href="/admin/public">网站信息</a>
    <a class="active">添加网站信息</a>
  </span>
</div>
<div class="layui-content">
  <form class="layui-form">
    <input type="hidden" name="id" value="{{ data._id.toString() }}">
    <div class="layui-form-item">
      <label class="layui-form-label">公司名称</label>
      <div class="layui-input-block">
        <input type="text" name="name" placeholder="请输入公司名称" class="layui-input" value="{{ data.name }}">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">公司地址</label>
      <div class="layui-input-block">
        <input type="text" name="address" placeholder="请输入公司地址" class="layui-input" value="{{ data.address }}">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">邮编</label>
      <div class="layui-input-block">
        <input type="text" name="postal_code" placeholder="请输入邮编" class="layui-input" value="{{ data.postal_code }}">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">公司邮箱</label>
      <div class="layui-input-block">
        <input type="text" name="email" placeholder="请输入公司邮箱" class="layui-input" value="{{ data.email }}">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">座机</label>
      <div class="layui-input-block">
        <input type="http" name="telephone" placeholder="请输入座机" class="layui-input" value="{{ data.telephone }}">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">加盟管理人职位</label>
      <div class="layui-input-block">
        <input type="text" name="join_position" placeholder="请输入加盟管理人职位" class="layui-input"
          value="{{ data.join_position }}">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">加盟管理人称呼</label>
      <div class="layui-input-block">
        <input type="text" name="join_name" placeholder="请输入加盟管理人称呼" class="layui-input" value="{{ data.join_name }}">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">加盟管理人邮箱</label>
      <div class="layui-input-block">
        <input type="text" name="join_email" placeholder="请输入加盟管理人邮箱" class="layui-input" value="{{ data.join_email }}">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">加盟管理人电话</label>
      <div class="layui-input-block">
        <input type="text" name="join_phone" placeholder="请输入加盟管理人电话" class="layui-input" value="{{ data.join_phone }}">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">微信公众号二维码</label>
      <div class="layui-input-block">
        <label>
          <input type="file" name="code" id="code" />
          <img class="code_img" src="{{ data.code }}" alt="" {% if data.code %} style="display: block" {% else %}
            style="display: none" {% endif %} />
          <span type="button" class="layui-btn code_btn" {% if !data.code %} style="display: inline-block" {% else %}
            style="display: none" {% endif %}>
            <i class="layui-icon">&#xe67c;</i>上传二维码
          </span>
        </label>
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <a class="layui-btn update">修改联系我们</a>
        <a class="layui-btn layui-btn-primary" onclick="window.history.go(-1);">返回</a>
      </div>
    </div>
  </form>
</div>
<style>
  #code {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
  }

  .code_img {
    display: block;
    height: 100px;
  }

  .layui-form-label {
    width: 120px;
  }

  .layui-input-block {
    margin-left: 150px;
  }
</style>
<script>
  $(function () {
    layui.use(['element', 'form'], function () {
      var element = layui.element;
      var form = layui.form;
      $('#code').change(function () {
        var _file = $(this);
        var _fileObj = _file[0];
        var windowURL = window.URL || window.webkitURL;
        var dataURL;
        var img = $(".code_img");
        if (_fileObj.files[0].type.indexOf('image') == -1) {
          _file.val("");
          layer.msg("二维码只支持图片类型", {
            time: 1000
          });
          return;
        }
        if (_fileObj && _fileObj.files && _fileObj.files[0]) {
          dataURL = windowURL.createObjectURL(_fileObj.files[0]);
          img.show().attr('src', dataURL);
          $('.code_btn').hide();
        } else {
          dataURL = _file.val();
          var imgObj = img[0];
          imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
          imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;
        }
      })
      $('.update').click(function () {
        var _sendData = {
          id: $('input[name="id"]').val(),
          name: $('input[name="name"]').val(),
          address: $('input[name="address"]').val(),
          postal_code: $('input[name="postal_code"]').val(),
          email: $('input[name="email"]').val(),
          telephone: $('input[name="telephone"]').val(),
          join_position: $('input[name="join_position"]').val(),
          join_name: $('input[name="join_name"]').val(),
          join_email: $('input[name="join_email"]').val(),
          join_phone: $('input[name="join_phone"]').val(),
          code: $('input[name="code"]').val()
        }
        if (_sendData.code) { //修改了code
          var file = document.getElementById("code"); //上传图片的input
          var formData = new FormData(); //创建formdata对象
          formData.append('file', file.files[0]); //给formdata对象中放入数据(键值对的方式)
          $.ajax({
            url: '/api/upload',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
              if (data.code == 200) {
                _sendData.code = data.data;
                contactUpdate(_sendData)
              } else {
                layer.msg("图片上传失败", {
                  time: 1000
                });
              }
            },
            error: function () {
              layer.msg("与服务器通信发生错误", {
                time: 1000
              });
            }
          });
        } else {
          contactUpdate(_sendData);
        }
      })

      function contactUpdate(data) {
        $.ajax({
          url: '/api/contact/contact_update',
          type: 'POST',
          data: data,
          beforeSend: function () {
            layer.load(2, {
              shade: [0.2, '#000']
            });
          },
          success: function (data) {
            layer.closeAll();
            layer.msg(data.msg, {
              time: 1000
            });
            if (data.code == 200) {
              setTimeout(function () {
                window.location.href = "/admin/contact";
              }, 1000)
            }
          },
          error: function () {
            layer.closeAll();
            layer.msg("与服务器通信发生错误", {
              time: 1000
            });
          }
        });
      }
    })
  })
</script>
{% endblock %}