{% extends './template/layout.html' %}
{% block main %}
<div class="layui-bread">
  <span class="layui-breadcrumb">
    <a href="/admin">后台管理系统</a>
    <a class="active">合作伙伴管理</a>
  </span>
</div>
<a href="/admin/partner_add" class="layui-btn">添加合作伙伴</a>
<table class="layui-table" id="table" lay-filter="operation"></table>
<style>
  .layui-table img.table_img {
    display: block;
    width: auto;
    max-width: inherit;
    height: 50px;
    margin: 10px auto;
  }

  .layui-table-cell {
    height: auto;
  }
</style>
<script>
  $(function () {
    var url = '/partner/partner_list';
    var config = {
      elem: '#table',
      url: url,
      cols: [
        [ //表头
          {
            width: "20%",
            title: 'LOGO图片',
            align: "center",
            field: 'img',
            templet: function (item) {
              return "<img src=" + item.img + " class='table_img' />"
            }
          }, {
            width: "24%",
            title: '名称',
            align: "center",
            field: 'name'
          }, {
            width: "24%",
            title: '链接',
            align: "center",
            field: 'url'
          }, {
            width: "12%",
            title: '状态',
            align: "center",
            field: 'status',
            templet: function (item) {
              return item.status ? "开启" : "关闭"
            }
          },
          {
            width: '20%',
            title: '操作',
            align: 'center',
            templet: function (item) {
              var btns =
                '<a class="layui-btn layui-btn-xs" lay-event="on">开启</a><a class="layui-btn layui-btn-xs" lay-event="detail">查看</a><a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a><a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>';
              if (item.status) {
                btns =
                  '<a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="off">关闭</a><a class="layui-btn layui-btn-xs" lay-event="detail">查看</a><a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a><a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>'
              }
              return btns;
            }
          }
        ]
      ],
      page: true
    };
    layui.use(['element', 'table'], function () {
      var element = layui.element;
      var table = layui.table;
      table.render(config);

      //监听工具条
      table.on('tool(operation)', function (obj) {
        var data = obj.data;
        var layEvent = obj.event;
        var _id = data._id.toString();
        if (layEvent === 'edit') {
          window.location.href = 'partner_update?id=' + _id;
        } else if (layEvent === 'detail') {
          window.location.href = 'partner_detail?id=' + _id;
        } else if (layEvent === 'delete') {
          layer.open({
            id: 1,
            content: '确认要删除吗？',
            btn: ['确认', '取消'],
            btn1: function (index, layero) {
              $.ajax({
                type: 'POST',
                url: '/partner/partner_delete',
                data: {
                  id: _id
                },
                beforeSend: function () {
                  layer.load(2, {
                    shade: [0.2, '#000']
                  });
                },
                success: function (data) {
                  layer.closeAll();
                  layer.msg(data.msg, {
                    time: 1000
                  });
                  if (data.code == 200) {
                    setTimeout(function () {
                      window.location.href = '/admin/partner'
                    }, 1000)
                  }
                },
                error: function () {
                  layer.closeAll();
                  layer.msg("与服务器通信发生错误", {
                    time: 1000
                  });
                }
              });
            },
          })
        } else if (layEvent === 'on') {
          $.ajax({
            type: 'POST',
            url: '/partner/partner_on',
            data: {
              id: _id
            },
            beforeSend: function () {
              layer.load(2, {
                shade: [0.2, '#000']
              });
            },
            success: function (data) {
              layer.closeAll();
              layer.msg(data.msg, {
                time: 1000
              })
              if (data.code == 200) {
                setTimeout(function () {
                  window.location.href = '/admin/partner'
                }, 1000)
              }
            },
            error: function () {
              layer.closeAll();
              layer.msg("与服务器通信发生错误", {
                time: 1000
              });
            }
          });
        } else if (layEvent === 'off') {
          $.ajax({
            type: 'POST',
            url: '/partner/partner_off',
            data: {
              id: _id
            },
            beforeSend: function () {
              layer.load(2, {
                shade: [0.2, '#000']
              });
            },
            success: function (data) {
              layer.closeAll();
              layer.msg(data.msg, {
                time: 1000
              })
              if (data.code == 200) {
                setTimeout(function () {
                  window.location.href = '/admin/partner'
                }, 1000)
              }
            },
            error: function () {
              layer.closeAll();
              layer.msg("与服务器通信发生错误", {
                time: 1000
              });
            }
          });
        }
      });
    });
  })
</script>
{% endblock %}