{% extends './template/layout.html' %}
{% block main %}
<div class="layui-bread">
  <span class="layui-breadcrumb">
    <a href="/admin">后台管理系统</a>
    <a href="/admin/partner">合作伙伴管理</a>
    <a class="active">合作伙伴添加</a>
  </span>
</div>
<div class="layui-content">
  <form class="layui-form">
    <div class="layui-form-item">
      <label class="layui-form-label">LOGO图片</label>
      <div class="layui-input-block">
        <label>
          <input type="file" name="partner" id="partner" />
          <span type="button" class="layui-btn partner_btn">
            <i class="layui-icon">&#xe67c;</i>上传LOGO图片
          </span>
          <img class="partner_img" src="" alt="" />
        </label>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">合作伙伴名称</label>
      <div class="layui-input-block">
        <input type="text" name="name" placeholder="请输入合作伙伴名称" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">合作伙伴链接</label>
      <div class="layui-input-block">
        <input type="text" name="url" placeholder="请输入合作伙伴链接" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">是否开启</label>
      <div class="layui-input-block">
        <input type="radio" name="status" value="true" title="开启" checked>
        <input type="radio" name="status" value="false" title="关闭">
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <a class="layui-btn add">添加合作伙伴</a>
        <a class="layui-btn layui-btn-primary" onclick="window.history.go(-1);">返回</a>
      </div>
    </div>
  </form>
</div>
<style>
  #partner {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
  }

  .partner_img {
    display: none;
    height: 100px;
  }

  .layui-form-label {
    width: 100px;
  }

  .layui-input-block {
    margin-left: 130px;
  }
</style>
<script>
  $(function () {
    layui.use(['element', 'jquery', 'form', "layer"], function () {
      var element = layui.element;
      var form = layui.form;
      $('#partner').change(function () {
        var _file = $(this);
        var _fileObj = _file[0];
        var windowURL = window.URL || window.webkitURL;
        var dataURL;
        var img = $(".partner_img");
        if (_fileObj.files[0].type.indexOf('image') == -1) {
          _file.val("");
          layer.msg("只支持图片类型", {
            time: 1000
          });
          return;
        }
        if (_fileObj && _fileObj.files && _fileObj.files[0]) {
          dataURL = windowURL.createObjectURL(_fileObj.files[0]);
          img.show().attr('src', dataURL);
          $('.partner_btn').hide();
        } else {
          dataURL = _file.val();
          var imgObj = img[0];
          imgObj.style.filter =
            "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
          imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;
        }
      })
      $('.add').click(function () {
        var _sendData = {
          img: $('input[name="partner"]').val(),
          name: $('input[name="name"]').val(),
          url: $('input[name="url"]').val(),
          status: $('input[name="status"]:checked').val()
        }
        if (_sendData.img == "") {
          layer.msg("请上传LOGO图片", {
            time: 1000
          });
        } else if (_sendData.name == "") {
          layer.msg("请输入合作伙伴名称", {
            time: 1000
          });
        } else {
          var file = document.getElementById("partner"); //上传图片的input
          var formData = new FormData(); //创建formdata对象
          formData.append('file', file.files[0]); //给formdata对象中放入数据(键值对的方式)
          $.ajax({
            url: '/api/upload',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
              if (data.code == 200) {
                _sendData.img = data.data;
                partnerAdd(_sendData)
              } else {
                layer.msg("图片上传失败", {
                  time: 1000
                });
              }
            },
            error: function () {
              layer.msg("与服务器通信发生错误", {
                time: 1000
              });
            }
          });
        }
      })

      function partnerAdd(data) {
        $.ajax({
          url: '/api/partner/partner_add',
          type: 'POST',
          data: data,
          beforeSend: function () {
            layer.load(2, {
              shade: [0.2, '#000']
            });
          },
          success: function (data) {
            layer.closeAll();
            layer.msg(data.msg, {
              time: 1000
            });
            if (data.code == 200) {
              setTimeout(function () {
                window.location.href = "/admin/partner";
              }, 1000)
            }
          },
          error: function () {
            layer.closeAll();
            layer.msg("与服务器通信发生错误", {
              time: 1000
            });
          }
        });
      }
    })
  })
</script>
{% endblock %}