{% extends './template/layout.html' %}
{% block main %}
<div class="layui-bread">
  <span class="layui-breadcrumb">
    <a href="/admin">后台管理系统</a>
    <a href="/admin/strore">服务网点管理</a>
    <a class="active">网点添加</a>
  </span>
</div>
<div class="layui-content">
  <form class="layui-form">
    <div class="layui-form-item">
      <label class="layui-form-label">网点城市</label>
      <div class="layui-input-block">
        <select name="city" lay-verify="required">
          <option value="">请选择服务网点所在城市</option>
          {% for item in city %}
          <option value="{{ item._id.toString() }}">{{ item.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">网点名称</label>
      <div class="layui-input-block">
        <input type="text" name="name" placeholder="请输入网点名称" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">网点电话</label>
      <div class="layui-input-block">
        <input type="text" name="phone" placeholder="请输入网点电话" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">网点地址</label>
      <div class="layui-input-block">
        <input type="text" name="position" placeholder="请输入网点地址" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">网点服务时间</label>
      <div class="layui-input-block">
        <input type="text" name="worktime" placeholder="请输入网点服务时间, 如: 周一至周五 8:00 - 18:00" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">是否开启</label>
      <div class="layui-input-block">
        <input type="radio" name="status" value="true" title="开启" checked>
        <input type="radio" name="status" value="false" title="关闭">
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <a class="layui-btn add">添加网点</a>
        <a class="layui-btn layui-btn-primary" onclick="window.history.go(-1);">返回</a>
      </div>
    </div>
  </form>
</div>
<!-- 页面样式 -->
<style>
  .layui-form-label {
    width: 100px;
  }

  .layui-input-block {
    margin-left: 130px;
  }
</style>
<!-- //JavaScript代码区域 -->
<script>
  $(function () {
    layui.use(['element', 'form'], function () {
      var element = layui.element;
      var form = layui.form;
      $('.add').click(function () {
        var _sendData = {
          city: $('select[name="city"]').find("option:selected").val(),
          name: $('input[name="name"]').val(),
          phone: $('input[name="phone"]').val(),
          position: $('input[name="position"]').val(),
          worktime: $('input[name="worktime"]').val(),
          status: $('input[name="status"]:checked').val()
        }
        if (_sendData.city == "" || !_sendData.city) {
          layer.msg('请选择服务网点所在城市', {
            time: 1000
          });
        } else if (_sendData.name == "") {
          layer.msg('请输入网点名称', {
            time: 1000
          });
        } else if (_sendData.phone == "") {
          layer.msg('请输入网点电话', {
            time: 1000
          });
        } else if (_sendData.position == "") {
          layer.msg('请输入网点地址', {
            time: 1000
          });
        } else if (_sendData.worktime == "") {
          layer.msg('网点服务时间', {
            time: 1000
          });
        } else {
          $.ajax({
            type: 'POST',
            url: '/api/store_add',
            data: _sendData,
            beforeSend: function () {
              layer.load(2, {
                shade: [0.2, '#000']
              });
            },
            success: function (data) {
              layer.closeAll();
              layer.msg(data.msg, {
                time: 1000
              });
              if (data.code == 200) {
                setTimeout(function () {
                  window.location.href = "/admin/store";
                }, 1000)
              }
            },
            error: function () {
              layer.closeAll();
              layer.msg("与服务器通信发生错误", {
                time: 1000
              });
            }
          });
        }
      })
    })
  })
</script>
{% endblock %}