{% extends './template/layout.html' %}
{% block main %}
<div class="layui-bread">
  <span class="layui-breadcrumb">
    <a href="/admin">后台管理系统</a>
    <a class="active">视频管理</a>
  </span>
</div>
{% if data.video_img %}
<a href="/admin/video_update" class="layui-btn to_update">修改视频信息</a>
<table class="layui-table" lay-size="lg">
  <colgroup>
    <col width="200">
    <col>
  </colgroup>
  <tr>
    <td>展示图片</td>
    <td>
      {% if data.video_img %}
      <img src="{{ data.video_img }}" alt="">
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>视频 </td>
    <td class="content">
      {% if data.video %}
      <video src="{{ data.video }}" controls poster="{{ data.video_img }}"></video>
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>视频状态</td>
    <td>
      {% if data.video_status %} 开启 {% else %} 关闭 {% endif %}
    </td>
  </tr>
</table>
{% else %}
<blockquote class="layui-elem-quote">还没有添加视频信息 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin/video_add"
    class="layui-btn">去添加</a>
</blockquote>
{% endif %}
<style>
  .layui-table img {
    display: block;
    max-width: 100%;
    height: 200px;
  }
  .layui-table video {
    display: block;
    max-width: 100%;
    height: 300px;
  }
</style>
<script>
  $(function () {
    layui.use(['element'], function () {
      var element = layui.element;
    });
  })
</script>
{% endblock %}