<div class="layui-side layui-bg-black aside">
  <div class="layui-side-scroll">
    <ul class="layui-nav layui-nav-tree">
      <li data-key="/public" class="layui-nav-item"><a href="/admin/public"><i class="layui-icon">&#xe62a;</i> 网站信息</a>
      </li>
      <li data-key="/about" class="layui-nav-item"><a href="/admin/about"><i class="layui-icon">&#xe66f;</i> 关于我们</a>
      </li>
      <li data-key="/find" class="layui-nav-item"><a href="/admin/find"><i class="layui-icon">&#xe66c;</i> 发现更多</a></li>
      <li data-key="/banner" class="layui-nav-item"><a href="/admin/banner"><i class="layui-icon">&#xe64a;</i>
          Banner管理</a></li>
      <li data-key="/product" class="layui-nav-item">
        <a href="javascript:;"><i class="layui-icon">&#xe653;</i> 产品管理</a>
        <dl class="layui-nav-child">
          <dd data-key="/product_category"><a href="/admin/product_category"><i class="layui-icon">&#xe66e;</i>
              产品分类管理</a></dd>
          <dd data-key="/product"><a href="/admin/product"><i class="layui-icon">&#xe656;</i> 产品管理</a></dd>
        </dl>
      </li>
      <li data-key="/new" class="layui-nav-item"><a href="/admin/new"><i class="layui-icon">&#xe63c;</i> 资讯管理</a></li>
      <li data-key="/store" class="layui-nav-item">
        <a href="javascript:;"><i class="layui-icon">&#xe7ae;</i> 服务网点管理</a>
        <dl class="layui-nav-child">
          <dd data-key="/store_city"><a href="/admin/store_city"><i class="layui-icon">&#xe715;</i> 城市管理</a></dd>
          <dd data-key="/store"><a href="/admin/store"><i class="layui-icon">&#xe636;</i> 网点管理</a></dd>
        </dl>
      </li>
      <li data-key="/partner" class="layui-nav-item"><a href="/admin/partner"><i class="layui-icon">&#xe613;</i>
          合作伙伴管理</a></li>
      <li data-key="/recruit" class="layui-nav-item"><a href="/admin/recruit"><i class="layui-icon">&#xe632;</i>
          人才招聘管理</a></li>
      <li data-key="/contact" class="layui-nav-item"><a href="/admin/contact"><i class="layui-icon">&#xe606;</i>
          联系我们管理</a></li>
    </ul>
  </div>
</div>