<div class="layui-side layui-bg-black aside">
  <div class="layui-side-scroll">
    <ul class="layui-nav layui-nav-tree">
      <li data-key="/index" class="layui-nav-item"><a href="/admin"><i class="layui-icon">&#xe68e;</i> 首页</a></li>
      <li data-key="/public" class="layui-nav-item"><a href="/admin/public"><i class="layui-icon">&#xe62a;</i> 网站信息</a> </li>
      <li data-key="/banner" class="layui-nav-item"><a href="/admin/banner"><i class="layui-icon">&#xe64a;</i> Banner管理</a></li>
      <li data-key="/store" class="layui-nav-item">
        <a href="javascript:;"><i class="layui-icon">&#xe7ae;</i> 服务网点管理</a>
        <dl class="layui-nav-child">
          <dd><a href="/admin/store_city"><i class="layui-icon">&#xe715;</i> 城市管理</a></dd>
          <dd><a href="/admin/store"><i class="layui-icon">&#xe636;</i> 网点管理</a></dd>
        </dl>
      </li>
      <li data-key="/contact" class="layui-nav-item"><a href="/admin/contact"><i class="layui-icon">&#xe606;</i> 联系我们管理</a></li>
    </ul>
  </div>
</div>