<div class="layui-header">
  <div class="layui-logo">后台管理系统</div>
  <ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item"><a class="clear_cache" href="javascript:"><i class="layui-icon">&#xe640;</i> 清除缓存</a>
    </li>
    <li class="layui-nav-item">
      <a href="javascript:;">
        <img src="/backend/images/header.png" class="layui-nav-img">
        {{ userInfo.username }}
      </a>
      <dl class="layui-nav-child">
        <dd><a class="modify"><i class="layui-icon">&#xe673;</i> 修改密码</a></dd>
        <dd><a class="logout"><i class="layui-icon">&#xe65c;</i> 退出</a></dd>
      </dl>
    </li>
  </ul>
</div>