{% extends "./template/layout.html" %}
{% block main %}
<div class="head_diagram">
  <img src="./images/img_about1.jpg" alt="">
  <div class="row1"><strong>探索复升</strong></div>
</div>
<div class="about">
  
  <div class="about_module about_module1">
    
    <div class="about_module_title">
      <strong>复升品牌</strong>
      <p>
        在此，您可以尽情探索和了解我们，以及我们能为您提供的服务。 <br>
        我们的服务全面周到、细致入微，复升不断创新、进取与突破是复升不变的追求。
      </p>
    </div>
    {% if about %}
    <div class="clearFix about_module_content">
      <input type="hidden" name="content" value='{{ about.content }}'>
      <div class="left text"></div>
      <div class="right">
        <img src="{{ about.img }}" alt="">
      </div>
    </div>
    {% endif %}
  </div>
  
  <div class="about_module about_module2">
    <div class="about_module_title">
      <strong>品牌实力</strong>
      <p>复升集研发，生产于一体的专注冷鲜事业应用领域企业</p>
    </div>
    <div class="clearFix about_module_content">
      <div class="left">
        <a href="#">
          <span class="img"><img src="./images/img_about3.jpg" alt=""></span>
          <strong>上市公司全资子公司</strong>
          <p class="txt_hide">复升是再升科技全资子公司，依托再升科技拥有强大的研发团队和科研实力。让我们保存产品的品质竞争力。</p>
          <b>了解更多 &gt;</b>
        </a>
      </div>
      <div class="left">
        <a href="#">
          <span class="img"><img src="./images/img_about10.jpg" alt=""></span>
          <strong>精工制造</strong>
          <p class="txt_hide">复升是再升科技全资子公司，依托再升科技拥有强大的研发团队和科研实力。让我们保存产品的品质竞争力。</p>
          <b>了解更多 &gt;</b>
        </a>
      </div>
      <div class="left">
        <a href="#">
          <span class="img"><img src="./images/img_about11.jpg" alt=""></span>
          <strong>技术研发</strong>
          <p class="txt_hide">复升是再升科技全资子公司，依托再升科技拥有强大的研发团队和科研实力。让我们保存产品的品质竞争力。</p>
          <b>了解更多 &gt;</b>
        </a>
      </div>
      <div class="left">
        <a href="#">
          <span class="img"><img src="./images/img_about12.jpg" alt=""></span>
          <strong>检测能力</strong>
          <p class="txt_hide">
            复升是再升科技全资子公司，依托再升科技拥有强大的研发团队和科研实力。让我们保存产品的品质竞争力。复升是再升科技全资子公司，依托再升科技拥有强大的研发团队和科研实力。让我们保存产品的品质竞争力。</p>
          <b>了解更多 &gt;</b>
        </a>
      </div>
    </div>
  </div>
  <div class="about_module about_module3">
    <div class="about_module_title">
      <strong>企业文化</strong>
      <p>复升集研发，生产于一体的专注冷鲜事业应用领域企业</p>
    </div>
    <div class="about_module_content">
      <ul class="clearFix">
        <li class="left">
          <span class="img"><img src="./images/img_about5.jpg" alt=""></span>
          <strong>企业愿景</strong>
          <p class="txt_hide">为消费者提供高品质保温产品与服务,让生活更便捷，创造幸福生活。</p>
        </li>
        <li class="left">
          <span class="img"><img src="./images/img_about6.jpg" alt=""></span>
          <strong>企业理念</strong>
          <p class="txt_hide">专注品质、勇于创新、绿色环保、服务至上。</p>
        </li>
        <li class="left">
          <span class="img"><img src="./images/img_about7.jpg" alt=""></span>
          <strong>核心价值观</strong>
          <p class="txt_hide">坚持更高端品牌战略，以消费者为中心，诚信、敬业、责任、开放、创新。</p>
        </li>
      </ul>
      <div class="clearFix join" style="display: none;">
        <div class="left">
          <img src="./images/img_about8.jpg" alt="">
        </div>
        <div class="right">
          <strong>加入我们</strong>
          <p>复升始终秉持“以人为本”的人才理念，注重员工知识、技能的培训，更重视员工能力和价值观的培养，为人才提供成长平台，使人才成为企业持续发展的有力支撑，实现企业和人才共同成长、共同发展。</p>
          <a href="recruit">
            查看招聘职位
            <!-- <img src="./images/icon_about1.png" alt=""> -->
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="about_module about_module4">
    <div class="about_module_title">
      <strong>合作伙伴</strong>
      <p>复升与其合作伙伴有共同的理念：合作、学习、双赢。 通过在前沿技术领域的合作，创造未来。</p>
    </div>
    {% if partner.length > 0 %}
    <div class="about_module_content">
      <ul class="clearFix">
        {% for item in partner %}
        <li class="left">
          <a target="_blank" href="{{ item.url }}" title="{{ item.name }}">
            <img src="{{ item.img }}" alt="{{ item.name }}">
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}