{% extends "./template/layout.html" %}
{% block main %}
<div class="head_diagram">
  <img src="./images/img_about1.jpg" alt="">
  <div class="row1"><strong>服务与支持</strong></div>
</div>
<div class="server">
  {% include "./template/server_menu.html" %}
  <div class="branch">
    {% if branch.length > 0 %}
    <h2>服务网点查询</h2>
    <div class="clearFix branch_search">
      <input type="text" class="left" placeholder="输入省份/直辖市" />
      <span class="right branch_search_btn">确 认</span>
    </div>
    {% for city in branch %}
    <dl>
      <dt>{{ city.city }}</dt>
      <dd>
        <ul class="clearFix">
          {% for item in city.items %}
          <li class="left">
            <strong>{{ item.name }}</strong>
            <p>
              地址：{{ item.position }}<br>
              时间：{{ item.worktime }}<br>
              电话：{{ item.phone }}
            </p>
          </li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
    {% endfor %}
    {% else %}
    <p class="not">暂无数据~~</p>
    {% endif %}
  </div>
</div>
{% endblock %}