{% extends "./template/layout.html" %}
{% block main %}
<div class="head_diagram">
  <img src="./images/server.jpg" alt="">
  <div class="row1"><strong>服务与支持</strong></div>
</div>
<div class="server">
  {% include "./template/server_menu.html" %}
  <div class="contact">
    <div class="text">
      <h2>与我们取得联系</h2>
      <ul class="clearFix">
        <li class="left">
          <strong>{{ data.name }}</strong>
          <p>
            地址&nbsp;&nbsp;{{ data.address }}<br>
            {% if data.postal_code %}
            邮编&nbsp;&nbsp;{{ data.postal_code }}<br>
            {% endif %}
            {% if data.email %}
            邮件&nbsp;&nbsp;{{ data.email }}<br>
            {% endif %}
            {% if data.telephone %}
            座机&nbsp;&nbsp;{{ data.telephone }}
            {% endif %}
          </p>
          
        </li>
        <li class="left">
          <strong>全国统一服务热线</strong>
          <p>
            售后服务支持，您可拨打我们的服务专线<br>
            (工作日9:00 — 17:00)
          </p>
          <b>{{ public.hotline }}</b>
        </li>
        <li class="left">
          {% if data.join_phone %}
          <strong>经销商加盟服务</strong>
          {% endif %}
          <p>
            {{ data.join_position }} <br>
            {{ data.join_name }} <br>
            {% if data.join_email %}
            邮件&nbsp;&nbsp;{{ data.join_email }} <br>
            {% endif %}
            {% if data.join_phone %}
            电话&nbsp;&nbsp;{{ data.join_phone }}
            {% endif %}
          </p>
        </li>
        
        <li class="right">
          {% if data.code %}
          <strong>微信公众号</strong>
          <img src="{{ data.code }}" alt="">
          {% endif %}
        </li>
        
      </ul>
    </div>
    <div id="map" style="width: 100%; height: 600px;"></div>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=xZxFfSNBloHPceOW7Oh3FQANEcvbidON">
    </script>
    <!--百度地图容器-->
    <script type="text/javascript">
      //创建和初始化地图函数：
      function initMap() {
        createMap(); //创建地图
        setMapEvent(); //设置地图事件
        addMapControl(); //向地图添加控件
        addMapOverlay(); //向地图添加覆盖物
      }

      function createMap() {
        map = new BMap.Map("map");
        map.centerAndZoom(new BMap.Point(106.638103, 29.682682), 16);
      }

      function setMapEvent() {
        map.enableScrollWheelZoom();
        map.enableKeyboard();
        map.enableDragging();
        map.enableDoubleClickZoom()
      }

      function addClickHandler(target, window) {
        target.addEventListener("click", function () {
          target.openInfoWindow(window);
        });
      }

      function addMapOverlay() {
        var markers = [{
          content: "重庆市渝北区回兴街道两港大道197号1幢",
          title: "重庆复升冷鲜香科技有限公司",
          imageOffset: {
            width: 0,
            height: 3
          },
          position: {
            lat: 29.682478,
            lng: 106.637807
          }
        }];
        for (var index = 0; index < markers.length; index++) {
          var point = new BMap.Point(markers[index].position.lng, markers[index].position.lat);
          var marker = new BMap.Marker(point, {
            icon: new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png", new BMap.Size(20,
              25), {
              imageOffset: new BMap.Size(markers[index].imageOffset.width, markers[index].imageOffset.height)
            })
          });
          var label = new BMap.Label(markers[index].title, {
            offset: new BMap.Size(25, 5)
          });
          var opts = {
            width: 200,
            title: markers[index].title,
            enableMessage: false
          };
          var infoWindow = new BMap.InfoWindow(markers[index].content, opts);
          marker.setLabel(label);
          addClickHandler(marker, infoWindow);
          map.addOverlay(marker);
        };
      }
      //向地图添加控件
      function addMapControl() {
        var navControl = new BMap.NavigationControl({
          anchor: BMAP_ANCHOR_TOP_LEFT,
          type: BMAP_NAVIGATION_CONTROL_LARGE
        });
        map.addControl(navControl);
      }
      var map;
      initMap();
    </script>
  </div>
</div>
{% endblock %}
