{% extends './template/layout.html' %}
{% block main %}

<div class="banner">
  <div class="bx-wrapper">
    <div class="bx-viewport">
      <div class="slider">
        {% for item in banner %}
        <div class="slide">
          <a {% if item.url %} href="{{ item.url }}" target="_blank" {% else %}{% endif %}
            style="background: url('{{ item.banner }}') no-repeat center center; background-size: cover;"></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="clearFix index_module1">
  <a href="#" class="img">
    <img src="./images/img.jpg" alt="">
  </a>
  <div class="right content">
    <strong>尖端技术<br>铸就更高品质</strong>
    <p>依托再升科技核心部件的研发能力和技术优势<br>成就享誉行业的领先科技与过硬品质</p>
    <a href="">
      <b></b>
      <span>探索更多 &gt;</span>
    </a>
  </div>
</div>
<div class="index_module2">
  <div class="imgs">
    {% for item in public.categorys %}
    <div class="img{{ item.idx }}" style="background: url('{{ item.img }}') no-repeat center center;"></div>
    {% endfor %}
  </div>
  <div class="texts">
    {% for item in public.categorys %}
    <div class="text{{ item.idx }}">
      <strong>{{ item.title }}</strong>
      <p>{{ item.text }}</p>
      <a href="product?category={{ item._id.toString() }}">
        <b></b>
        <span>了解更多 &gt;</span>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="clearFix btns">
    {% for item in public.categorys %}
    <div class="left {{ item.idx == 1 && 'active' }}">
      <div class="box">
        <img src="./images/icon_ice{{ item.idx }}.png" alt="">
        <span>{{ item.name }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="index_module3">
  <strong class="module_title">系列产品</strong>
  <ul class="clearFix">
    <li class="left">
      <a href="product_detail.html">
        <span class="img">
          <img src="./images/img3.jpg" alt="">
        </span>
        <p>
          <span class="type">FOSEN-X01</span>
          <strong>智能车载冰箱</strong>
          <span class="line"></span>
          <span class="text">品质技术，5L热电技术迷你冰箱，红色 - 12/220 伏</span>
          <span class="link">了解详情 &gt;</span>
        </p>
      </a>
    </li>
    <li class="left">
      <a href="product_detail.html">
        <span class="img">
          <img src="./images/img4.jpg" alt="">
        </span>
        <p>
          <span class="type">FOSEN-X02</span>
          <strong>智能车载冰箱 PRO</strong>
          <span class="line"></span>
          <span class="text">品质技术，5L热电技术迷你冰箱，红色 - 12/220 伏</span>
          <span class="link">了解详情 &gt;</span>
        </p>
      </a>
    </li>
  </ul>
</div>
<div class="index_module4">
  <span class="title">发现更多</span>
  <ul class="clearFix">
    {% for item in find %}
    <li class="left">
      <a {% if item.type == "关于我们" %} href="about" {% endif %} 
      {% if item.type == "复升新闻" %} href="news" {% endif %}
      {% if item.type == "品牌服务" %} href="contact" {% endif %} >
        <span class="img">
          <img src="{{ item.img }}" alt="">
        </span>
        <strong>{{ item.title }}</strong>
        <p>{{ item.text }}</p>
        <span class="link">&gt; 了解更多</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}