{% extends './template/layout.html' %}
{% block main %}

<div class="banner">
  <div class="bx-wrapper">
    <div class="bx-viewport">
      <div class="slider">
        {% for item in banner %}
        <div class="slide">
          <a {% if item.url %} href="{{ item.url }}" target="_blank" {% else %}{% endif %}
            style="background: url('{{ item.banner }}') no-repeat center center; background-size: cover;"></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="clearFix index_module1">
  <a href="#" class="img">
    <img src="./images/img.jpg" alt="">
  </a>
  <div class="right content">
    <strong>尖端技术<br>铸就更高品质</strong>
    <p>依托再升科技核心部件的研发能力和技术优势<br>成就享誉行业的领先科技与过硬品质</p>
    <a href="">
      <b></b>
      <span>探索更多 &gt;</span>
    </a>
  </div>
</div>
<div class="index_module2">
  <div class="imgs">
    {% for item in public.categorys %}
    <div class="img{{ item.idx }}" style="background: url('{{ item.img }}') no-repeat center center;"></div>
    {% endfor %}
  </div>
  <div class="texts">
    {% for item in public.categorys %}
    <div class="text{{ item.idx }}">
      <strong>{{ item.title }}</strong>
      <p>{{ item.text }}</p>
      <a href="product?category={{ item._id.toString() }}">
        <b></b>
        <span>了解更多 &gt;</span>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="clearFix btns">
    {% for item in public.categorys %}
    <div class="left {{ item.idx == 1 && 'active' }}">
      <div class="box">
        <img src="./images/icon_ice{{ item.idx }}.png" alt="">
        <span>{{ item.name }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="index_module3">
  <strong class="module_title">系列产品</strong>
  <ul class="clearFix">
    <li class="left">
      <a href="product_detail.html">
        <span class="img">
          <img src="./images/img3.jpg" alt="">
        </span>
        <p>
          <span class="type">FOSEN-X01</span>
          <strong>智能车载冰箱</strong>
          <span class="line"></span>
          <span class="text">品质技术，5L热电技术迷你冰箱，红色 - 12/220 伏</span>
          <span class="link">了解详情 &gt;</span>
        </p>
      </a>
    </li>
    <li class="left">
      <a href="product_detail.html">
        <span class="img">
          <img src="./images/img4.jpg" alt="">
        </span>
        <p>
          <span class="type">FOSEN-X02</span>
          <strong>智能车载冰箱 PRO</strong>
          <span class="line"></span>
          <span class="text">品质技术，5L热电技术迷你冰箱，红色 - 12/220 伏</span>
          <span class="link">了解详情 &gt;</span>
        </p>
      </a>
    </li>
  </ul>
</div>
<div class="index_module4">
  <span class="title">发现更多</span>
  <ul class="clearFix">
    <li class="left">
      <a href="about.html">
        <span class="img">
          <img src="./images/img5.jpg" alt="">
        </span>
        <strong>关于我们</strong>
        <p>复升专注于做冷鲜事业领域产品，依托再升科技核心研发技术与实力，<br>成就产品核心竞争力，产品卓越优势。</p>
        <span class="link">&gt; 了解更多</span>
      </a>
    </li>
    <li class="left">
      <a href="news.html">
        <span class="img">
          <img src="./images/img6.jpg" alt="">
          <b>最新动态</b>
        </span>
        <strong>复升新闻</strong>
        <p>你可以从这里了解到关于复升品牌相关资讯讯息，<br>及其最新企业动态。</p>
        <span class="link">&gt; 了解更多</span>
      </a>
    </li>
    <li class="left">
      <a href="contact.html">
        <span class="img">
          <img src="./images/img7.jpg" alt="">
        </span>
        <strong>品牌服务</strong>
        <p>当你需要帮助时，你尽可联系我们，<br>我们很高兴为你提供帮助，也将为你竭尽解决所需。</p>
        <span class="link">&gt; 了解更多</span>
      </a>
    </li>
  </ul>
</div>
{% endblock %}