{% extends "./template/layout.html" %}

{% block main %}
<div class="head_diagram">
  <img src="./images/server.jpg" alt="">
  <div class="row1"><strong>服务与支持</strong></div>
</div>
<div class="server">
  {% include "./template/server_menu.html" %}
  <div class="message">
    <h2>在线留言</h2>
    <div class="form">
      <div class="radios">
        <label>
          <input type="radio" name="msg_type" value="售后服务反馈" checked />
          售后服务反馈
        </label>
        <label>
          <input type="radio" name="msg_type" value="加盟合作" />
          加盟合作
        </label>
        <label>
          <input type="radio" name="msg_type" value="其他建议或意见" />
          其他建议或意见
        </label>
      </div>
      <div class="clearFix inputs">
        <div class="left">
          <input type="text" name="name" placeholder="*姓名" />
          <input type="text" name="phone" placeholder="*电话" />
          <input type="text" name="email" placeholder="*邮箱" />
          <input type="text" name="site" placeholder="*地址" />
        </div>
        <div class="right">
          <textarea name="content" placeholder="请输入您的留言内容"></textarea>
        </div>
      </div>
      <span class="submit">确认提交</span>
    </div>
  </div>
</div>
<script>
  $(function () {
    $(".submit").click(function () {
      var _sendData = {
        msg_type: $("input[name='msg_type']:checked").val(),
        name: $("input[name='name']").val(),
        phone: $("input[name='phone']").val(),
        email: $("input[name='email']").val(),
        site: $("input[name='site']").val(),
        content: $("textarea[name='content']").val()
      }

      if (_sendData.name == "") {
        layer.msg("请输入姓名", {
          time: 1000
        })
      } else if (_sendData.phone == "") {
        layer.msg("请输入电话", {
          time: 1000
        })
      } else if (!(/1\d{10}/.test(_sendData.phone))) {
        layer.msg("请输入正确的电话号码", {
          time: 1000
        })
      } else if (_sendData.email == "") {
        layer.msg("请输入邮箱", {
          time: 1000
        })
      } else if (_sendData.site == "") {
        layer.msg("请输入地址", {
          time: 1000
        })
      } else if (_sendData.content == "") {
        layer.msg("请输入留言内容", {
          time: 1000
        })
      } else {
        layer.load(2, {
          shade: [0.3, '#000']
        });
        $.ajax({
          type: "POST",
          url: "/api/message/message_add",
          data: _sendData,
          success: function (data) {
            layer.closeAll('loading');
            layer.msg(data.msg, {
              time: 1000
            })
            if (data.code == 200) {
              setTimeout(function () {
                location.href = "message";
              }, 1000)
            }
          },
          error: function () {
            layer.closeAll('loading');
            layer.msg("与服务器通信发生错误", {
              time: 1000
            });
          }
        })
      }
    })
  })
</script>
{% endblock %}