{% extends './template/layout.html' %}
{% block main %}
<div class="head_diagram">
  <img src="./images/server.jpg" alt="">
  <div class="row1"><strong>复升资讯</strong></div>
</div>
<div class="news">
  <div class="news_big_box">
      <div class="title">
        <strong>头条新闻</strong>
        <p>从这里，你能实时了解复升品牌的最新资讯新闻</p>
      </div>
      {% if big.length > 0 %}
      <div class="clearFix news_big">
        <a href="javascript:" class="left img" id="{{ big._id.toString() }}">
          <img src="{{ big.img }}" alt="{{ big.img }}">
        </a>
        <a href="javascript:" class="right text" id="{{ big._id.toString() }}">
          <strong class="txt_hide">{{ big.title }}</strong>
          <b class="date">{{ big.date }}</b>
          <p>{{ big.abstract.substring(0, 100) }}</p>
          <span class="link">
            <em></em>
            <i>&gt; 了解更多</i>
          </span>
        </a>
      </div>
      {% endif %}
    </div>
    {% if news.length > 0 %}
  <div class="news_list">
   
    <ul class="clearFix">
      {% for item in news %}
      <li class="left">
        <a href="javascript:" id="{{ item._id.toString() }}">
          <span class="img">
            <img src="{{ item.img }}" alt="{{ item.img }}">
          </span>
          <strong class="txt_hide">{{ item.title }}</strong>
          <b class="date">{{ item.date }}</b>
          <p>{{ item.abstract.substring(0, 60) }}...</p>
          <span class="link"><i>&gt;</i> 了解更多</span>
        </a>
      </li>
      {% endfor %}
    </ul>
    <div class="clearFix page">
      {% if currPage == 1 %}
      <a class="left prev">&lt; 上一页</a>
      {% else %}
      <a href="news?page={{ currPage - 1 }}" class="left prev">&lt; 上一页</a>
      {% endif %}
      <div class="left number">
        {% for item in recodes %}
        <a href="news?page={{ item }}" class="{{ item == currPage && 'active' }}">{{ item }}</a>
        {% endfor %}
      </div>
      {% if currPage == recodes.length %}
      <a class="right next">下一页 &gt;</a>
      {% else %}
      <a href="news?page={{ currPage + 1 }}" class="right next">下一页 &gt;</a>
      {% endif %}
    </div>
    
  </div>
  {% endif %}
</div>
<div class="news_details">
  <div class="content">
    <span class="close"><img src="./images/icon_close_search.jpg" alt=""></span>
    <div class="text_box">
      <strong class="title"></strong>
      <span class="date">
        <b>新闻</b> <span></span>
      </span>
      <div class="text"></div>
      <div class="clearFix page">
        <a href="javascript:" class="left prev">&lt; 上一篇</a>
        <a href="javascript:" class="back">返回</a>
        <a href="javascript:" class="right next">下一篇 &gt;</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}