{% extends "./template/layout.html" %}
{% block main %}
<div class="cause">
  <div class="cause_top">
    {% if category %}
    <img src="{{ category.img }}" alt="">
    <div class="text">
      <strong>{{ category.name }}</strong>
      <p>
        {{ category.text }}
      </p>
    </div>
    {% endif %}
  </div>
  {% if public.categorys.length > 0 %}
  <div class="cause_type">
    {% for item in public.categorys %}
    <a {% if item._id.toString() != category._id.toString() %} href="product?category={{ item._id.toString() }}"
      {% endif %} class="{{ item._id.toString() == category._id.toString() && 'active' }}">{{ item.name }}</a>
    {% endfor %}
  </div>
  {% endif %}
  <div class="cause_list">
    <div class="clearFix cause_list_title">
      <strong class="left">系列产品</strong>
      <span class="left">精心雕琢,只为更好</span>
    </div>
    <div class="list">
      {% if product.length > 0 %}
      <ul class="clearFix">
        {% for item in product %}
        <li class="left">
          <a href="product_detail?id={{ item._id.toString() }}">
            <span class="img">
              <img src="{{ item.product_img }}" alt="{{ item.product_img }}">
            </span>
            <strong class="txt_hide">{{ item.name }}</strong>
            <p class="clearFix">
              <i class="txt_hide left">{{ item.type }}</i>
              <b class="right">了解详情 &gt;</b>
            </p>
          </a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="not">没有数据</p>
      {% endif %}
    </div>
  </div>
  <div class="cause_more">
    <span class="title">了解更多</span>
    <ul class="clearFix">
      <li class="left">
        <a href="#">
          <span class="img">
            <img src="./images/img_product7.jpg" alt="">
          </span>
          <strong>品牌产品咨询</strong>
          <p>进一步了解产品，我们将尽可为您提供详尽的服务。</p>
          <span class="link">&gt; 了解更多</span>
        </a>
      </li>
      <li class="left">
        <a href="#">
          <span class="img">
            <img src="./images/img_product8.jpg" alt="">
          </span>
          <strong>服务与支持</strong>
          <p>我们有专业技术人员，为你技术解答，全心支持。</p>
          <span class="link">&gt; 了解更多</span>
        </a>
      </li>
      <li class="left">
        <a href="#">
          <span class="img">
            <img src="./images/img_product9.jpg" alt="">
          </span>
          <strong>品牌下载中心</strong>
          <p>更多产品指引，贴心伴行。</p>
          <span class="link">&gt; 了解更多</span>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}