/* index */

.banner {
  position: relative;
}

.banner, .banner .bx-wrapper, .banner .slider, .banner .slider .slide, .banner .slider .slide a {
  display: block;
  width: 100%;
  height: 880px;
  overflow: hidden;
}

.banner .bx-controls {
  width: 100%;
  position: absolute;
  bottom: 50px;
  left: 0;
  z-index: 3;
}

.banner .bx-pager {
  text-align: center;
}

.banner .bx-pager-item {
  display: inline;
}

.banner .bx-pager-item a {
  display: inline-block;
  width: 140px;
  height: 4px;
  margin: 0 5px;
  border-radius: 4px;
  background-color: #18457C;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  cursor: pointer;
  font-size: 0;
}

.banner .bx-pager-item a:hover, .banner .bx-pager-item a.active {
  background-color: #fff;
}

.banner .bx-controls-direction {
  display: none;
}

.index_module1 {
  width: 1600px;
  height: 822px;
  margin: 0 auto;
  position: relative;
}

.index_module1 .img {
  position: absolute;
  top: 80px;
  left: 0;
  width: 1030px;
  height: 600px;
  z-index: 1;
}

.index_module1 .img img, .index_module1 .img video {
  display: block;
  width: 100%;
  height: 100%;
}

.index_module1 .content {
  width: 800px;
  height: 580px;
  background: #18457C;
  margin-top: 154px;
  padding-left: 230px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}

.index_module1 .content strong {
  display: block;
  padding: 130px 0 20px;
  line-height: 1.4;
  font-size: 40px;
  font-weight: bold;
}

.index_module1 .content p {
  line-height: 1.8;
}

.index_module1 .content a {
  display: block;
  width: 180px;
  height: 50px;
  line-height: 50px;
  margin: 80px auto 0;
  border: 2px solid #fff;
  color: #fff;
  letter-spacing: 2px;
  font-family: "黑体";
  position: relative;
}

.index_module1 .content a b {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.index_module1 .content a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.index_module1 .content a:hover b {
  width: 100%;
}

.index_module1 .content a:hover span {
  color: #18457C;
}

.index_module2 {
  width: 100%;
  height: 962px;
  position: relative;
  overflow: hidden;
}

.index_module2 .imgs, .index_module2 .texts, .index_module2 .btns {
  position: absolute;
}

.index_module2 .imgs .img2, .index_module2 .imgs .img3, .index_module2 .texts .text2, .index_module2 .texts .text3 {
  display: none;
}

.index_module2 .imgs {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.index_module2 .imgs div {
  width: 100%;
  height: 100%;
}

.index_module2 .texts {
  top: 0;
  left: 50%;
  margin-left: -800px;
  width: 1600px;
  height: 100%;
  color: #fff;
}

.index_module2 .texts strong {
  display: block;
  padding-top: 300px;
  font-size: 50px;
  font-family: "黑体";
  font-weight: 100;
}

.index_module2 .texts p {
  font-size: 24px;
  padding: 30px 0 60px;
  line-height: 1.8;
}

.index_module2 .texts a {
  display: block;
  width: 184px;
  height: 54px;
  /* border: 2px solid #fff; */
  background: #fff;
  font-family: "黑体";
  color: #000;
  text-align: center;
  line-height: 54px;
  position: relative;
  overflow: hidden;
}

.index_module2 .texts a b {
  position: absolute;
  bottom: -20px;
  left: -20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #18457C;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.index_module2 .texts a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.index_module2 .texts a:hover b {
  -webkit-transform: scale(21);
  transform: scale(21)
}

.index_module2 .texts a:hover span {
  color: #fff;
}

.index_module2 .btns {
  bottom: 72px;
  left: 50%;
  margin-left: -800px;
  width: 1600px;
  height: 90px;
}

.index_module2 .btns div {
  width: 532px;
  height: 90px;
  text-align: center;
  margin-right: 2px;
  line-height: 90px;
  border-radius: 6px;
}

.index_module2 .btns div .box {
  background: #fff;
  font-size: 26px;
  color: #3E3A39;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.index_module2 .btns div:last-child {
  margin-right: 0;
}

.index_module2 .btns div.active div {
  background: #18457C;
  color: #fff;
}

.index_module2 .btns div img {
  width: 77px;
  height: 42px;
  vertical-align: middle;
  margin-right: 30px;
}

.index_module2 .btns div:hover .box {
  background: #18457C;
  color: #fff;
}

.index_module3 {
  width: 1600px;
  margin: 70px auto 0;
  overflow: hidden;
}

.index_module3 strong.module_title {
  display: block;
  line-height: 30px;
  padding-left: 16px;
  border-left: 7px solid #18457C;
  font-size: 29px;
  margin-bottom: 55px;
}

.index_module3 li {
  width: 380px;
  padding-bottom: 70px;
  margin-right: 136px;
}

.index_module3 li:last-child {
  margin-right: 0;
}

.index_module3 li a, .index_module3 li .img, .index_module3 li .type, .index_module3 li strong, .index_module3 li .line, .index_module3 li .text, .index_module3 li .link {
  display: block;
  /* width: 100%; */
}

.index_module3 li a {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.index_module3 .img {
  height: 200px;
  overflow: hidden;
}

.index_module3 .img img {
  display: block;
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.index_module3 li p {
  padding: 20px 12px 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.index_module3 li .type {
  font-size: 24px;
  color: #6D6B6B;
}

.index_module3 li strong {
  font-size: 30px;
  padding: 17px 0 20px;
  color: #000;
  -webkit-transition: all 0.4s 0.2s;
  transition: all 0.4s 0.2s;
}

.index_module3 li .line {
  width: 60px;
  height: 3px;
  background: #18457C;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.index_module3 li .text {
  padding-top: 25px;
  height: 60px;
}

.index_module3 li .link {
  font-family: "黑体";
  color: #000;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.index_module3 li a:hover .img img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05)
}

.index_module3 li a:hover strong, .index_module3 li a:hover .link {
  color: #18457C;
}

.index_module4 {
  width: 100%;
  margin: 0 auto;
  background: #F6F6F6;
  padding-bottom: 115px;
  overflow: hidden;
}

.index_module4 span.title {
  display: block;
  padding: 80px 0 60px;
  font-size: 30px;
  font-family: "黑体";
  color: #303030;
  text-align: center;
  letter-spacing: 11px;
}

.index_module4 ul {
  width: 1600px;
  margin: 0 auto;
}

.index_module4 li {
  width: 504px;
  margin-right: 44px;
}

.index_module4 li a {
  display: block;
  padding-bottom: 20px;
  /* -webkit-transition: all 0.4s;
  transition: all 0.4s; */
}

.index_module4 li:last-child {
  margin-right: 0;
}

.index_module4 li .img {
  display: block;
  width: 504px;
  height: 315px;
  overflow: hidden;
  position: relative;
}

.index_module4 li .img img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.index_module4 li .img b {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 107px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #18457C;
}

.index_module4 li strong {
  display: block;
  font-size: 20px;
  font-family: "黑体";
  color: #000;
  padding: 34px 0 20px;
  letter-spacing: 2px;
  /* -webkit-transition: all 0.4s;
  transition: all 0.4s; */
}

.index_module4 li p {
  line-height: 1.6;
  height: 80px;
  color: #676666;
  /* -webkit-transition: all 0.4s;
  transition: all 0.4s; */
}

.index_module4 li .link {
  color: #000;
  font-family: "黑体";
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.index_module4 a .img:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.index_module4 a .link:hover {
  color: #18457C;
}

/* server */

.server .menu {
  width: 100%;
}

.server .menu ul {
  width: 100%;
  height: 250px;
  border-bottom: 1px solid #DCDDDD;
}

.server .menu ul li {
  width: 20%;
  height: 100%;
}

.server .menu li a {
  display: block;
  height: 100%;
  padding-top: 65px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
  color: #656565;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.server .menu li a:hover, .server .menu li.active a {
  background: #F6F6F6;
}

.server .menu li img {
  display: block;
  width: 77px;
  height: 82px;
  margin: 0 auto 23px;
}

.contact .text {
  width: 1600px;
  margin: 0 auto;
  padding: 175px 0 160px;
}

.contact .text h2 {
  font-size: 45px;
  line-height: 1;
  margin-bottom: 85px;
}

.contact .text li {
  width: 452px;
  margin-right: 60px;
}

.contact .text li:nth-child(3) {
  margin-right: 0;
}

.contact .text li:last-child {
  width: 124px;
  text-align: center;
  margin-right: 0;
}

.contact .text strong {
  display: block;
  color: #000;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 100;
}

.contact .text p {
  color: #686767;
  line-height: 2;
}

.contact .text b {
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
}

.contact .text img {
  display: block;
  width: 105px;
  height: 105px;
  margin: 0 auto;
}

.message {
  width: 1600px;
  margin: 0 auto;
}

.message h2 {
  font-size: 45px;
  line-height: 1;
  margin: 120px 0 85px;
}

.message .radios {
  margin-bottom: 92px;
}

.message .radios label {
  margin-right: 45px;
}

.message .radios input {
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 10px;
}

.message .inputs input {
  display: block;
  width: 498px;
  height: 58px;
  line-height: 1;
  line-height: 58px\0;
  border: 1px solid #BFBFBF;
  /* text-indent: 15px; */
  color: #999;
  margin-bottom: 27px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.message .inputs input:last-child {
  margin-bottom: 0;
}

.message textarea {
  display: block;
  width: 998px;
  height: 321px;
  border: 1px solid #BFBFBF;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.6;
  color: #999;
}

.message .submit {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: #B5B5B6;
  margin: 67px 0 180px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.message .submit:hover {
  background: #18457C;
  color: #fff;
}

.branch {
  width: 1600px;
  margin: 0 auto;
}

.branch h2 {
  font-size: 45px;
  line-height: 1;
  margin: 110px 0 55px;
}

.branch_search input {
  width: 1198px;
  height: 78px;
  color: #A6A6A7;
  border: 1px solid #D2D2D2;
  padding-left: 34px;
  font-size: 24px;
  line-height: 1;
  line-height: 78px\0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.branch_search .branch_search_btn {
  width: 350px;
  height: 80px;
  line-height: 80px;
  color: #fff;
  background: #18457C;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

.branch dl {
  padding: 80px 0 40px;
}

.branch dt {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-size: 24px;
  color: #161618;
  font-weight: bold;
}

.branch dd li {
  width: 370px;
  margin-right: 40px;
  margin-bottom: 90px;
}

.branch dd li:nth-child(4n) {
  margin-right: 0;
}

.branch dd li strong {
  display: block;
  height: 24px;
  line-height: 24px;
  padding-left: 38px;
  background: url(../images/icon_branch.png) no-repeat left center;
  background-size: 20px 23px;
  font-size: 18px;
  color: #161618;
  font-weight: 100;
  margin-bottom: 22px;
}

.branch dd li p {
  padding-left: 38px;
  line-height: 2;
  color: #939393;
}

/* recruit */

.recruit_type {
  width: 1600px;
  margin: 93px auto 40px;
}

.recruit_type a {
  width: 796px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  color: #595757;
  padding: 0 48px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #F5F5F5 url(../images/icon_recruit2.png) no-repeat 730px center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.recruit_type a:hover, .recruit_type a.active {
  background: #18457C url(../images/icon_recruit1.png) no-repeat 730px center;
  color: #fff;
}

.recruit_list {
  width: 1600px;
  margin: 0 auto 85px;
}

.recruit_list dt {
  width: 100%;
  height: 60px;
  padding: 0 48px;
  background: #9FA0A0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.recruit_list dt span, .recruit_list .label span {
  line-height: 60px;
  color: #fff;
  font-size: 18px;
}

.recruit_list dt span.name, .recruit_list .label span.name {
  width: 520px;
}

.recruit_list dt span.site, .recruit_list .label span.site {
  width: 340px;
}

.recruit_list dt span.number, .recruit_list .label span.number {
  width: 90px;
  text-align: center;
}

.recruit_list dt span.date, .recruit_list .label span.date {
  width: 470px;
  text-align: center;
}

.recruit_list dt span.detail, .recruit_list .label span.detail {
  width: 84px;
  text-align: center;
}

.recruit_list .label {
  width: 100%;
  height: 60px;
  padding: 0 48px;
  background: #FFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #D5D5D5;
}

.recruit_list li.show .label {
  border-bottom: 1px solid #fff;
}

.recruit_list .label span {
  color: #2B5486;
  font-size: 14px;
  font-family: "黑体";
}

.recruit_list .label span.detail {
  cursor: pointer;
}

.recruit_list .recruit_detail {
  display: none;
}

.recruit_list .text {
  background: #F5F5F5;
  line-height: 2;
  color: #727171;
  padding: 30px 48px;
}

.recruit_list li span.apply {
  display: block;
  line-height: 60px;
  color: #fff;
  background: #18457C;
  text-align: center;
  font-size: 18px;
}

/* about */

.about_module_title {
  text-align: center;
  padding-bottom: 70px;
  color: #303030;
}

.about_module_title strong {
  display: block;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.about_module_title p {
  font-size: 18px;
  line-height: 1.8;
}

.about_module1 {
  margin-top: 83px;
  overflow: hidden;
}

.about_module1 .about_module_content {
  background: #F9F9F9;
}

.about_module1 .about_module_content .text {
  width: 50%;
  padding: 5% 0 0 10%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.about_module1 .about_module_content strong {
  font-size: 30px;
  line-height: 1.6;
  color: #282828;
  font-weight: 500;
}

.about_module1 .about_module_content p {
  color: #686767;
  width: 500px;
  line-height: 2;
  margin-top: 50px;
}

.about_module1 .about_module_content div.right {
  width: 50%;
  height: auto;
}

.about_module2 {
  width: 1600px;
  margin: 92px auto 0;
  overflow: hidden;
}

.about_module2 .about_module_content div {
  width: 775px;
  margin-right: 50px;
  margin-bottom: 70px;
}

.about_module2 .about_module_content div:nth-child(2n) {
  margin-right: 0;
}

.about_module2 .about_module_content .img, .about_module2 .about_module_content .img img {
  display: block;
  width: 100%;
  height: 460px;
}

.about_module2 .about_module_content strong {
  display: block;
  font-size: 24px;
  line-height: 1;
  padding: 40px 0 22px;
  font-weight: 100;
}

.about_module2 .about_module_content p {
  color: #757474;
  line-height: 1;
  margin-bottom: 40px;
}

.about_module2 .about_module_content b {
  display: block;
  font-family: "黑体";
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.about_module2 .about_module_content b:hover {
  color: #18457C;
}

.about_module3 {
  background: #F9F9F9;
  padding: 77px 0 100px;
  overflow: hidden;
}

.about_module3 ul {
  width: 1600px;
  margin: 0 auto;
}

.about_module3 ul li {
  width: 506px;
  margin-right: 41px;
}

.about_module3 ul li:last-child {
  margin-right: 0;
}

.about_module3 li .img, .about_module3 li .img img {
  display: block;
  width: 100%;
  height: 315px;
}

.about_module3 li strong {
  display: block;
  font-size: 20px;
  color: #000;
  margin: 30px 0 20px;
  font-weight: 100;
}

.about_module3 li p {
  color: #666;
}

.about_module3 .join {
  background: #18457C;
}

.about_module3 .join div.left {
  width: 50%;
  height: auto;
}

.about_module3 .join div.left img {
  display: block;
}

.about_module3 .join div.right {
  width: 50%;
  height: 100%;
  color: #fff;
  padding: 90px 0 0 105px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.about_module3 .join strong {
  display: block;
  font-size: 36px;
  font-weight: 500;
}

.about_module3 .join p {
  width: 430px;
  padding: 40px 0 85px;
  line-height: 2;
}

.about_module3 .join a {
  display: block;
  width: 150px;
  height: 53px;
  line-height: 53px;
  border: 1px solid #fff;
  text-align: center;
  padding-right: 30px;
  color: #282828;
  background: #fff url(../images/icon_about1.png) no-repeat 142px center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.about_module3 .join a:hover {
  background: #18457C url(../images/icon_about2.png) no-repeat 142px center;
  color: #fff;
}

.about_module4 {
  padding: 90px 0 10px;
  background: #fff;
  overflow: hidden;
}

.about_module4 ul {
  width: 1600px;
  margin: 0 auto;
}

.about_module4 li {
  width: 200px;
  height: 55px;
  margin-right: 150px;
  margin-bottom: 80px;
}

.about_module4 li a {
  display: block;
  border: 1px solid #eee;
  padding: 5px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.about_module4 li img {
  display: block;
  width: 100%;
  height: 100%;
}

.about_module4 li:nth-child(5n) {
  margin-right: 0;
}

/* news */

.news_big_box {
  width: 1600px;
  margin: 0 auto 86px;
}

.news_big_box .title {
  margin: 50px 0 60px;
  text-align: center;
}

.news_big_box .title strong {
  display: block;
  font-size: 24px;
  color: #000;
  font-weight: 500;
  margin-bottom: 14px;
}

.news_big_box .title p {
  color: #666;
}

.news_big .img {
  width: 755px;
  height: 440px;
  overflow: hidden;
}

.news_big .img img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.news_big .text {
  width: 766px;
  height: 440px;
  position: relative;
}

.news_big .text strong {
  display: block;
  color: #18457C;
  font-size: 24px;
  font-weight: 500;
}

.news_big .text b {
  display: block;
  height: 14px;
  line-height: 14px;
  padding-left: 18px;
  background: url(../images/icon_date.png) no-repeat left center;
  margin: 17px 0 45px;
}

.news_big .text p {
  line-height: 2;
}

.news_big .text .link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 175px;
  height: 48px;
  line-height: 48px;
  background: #18457C;
  border: 1px solid #18457C;
  text-align: center;
}

.news_big .text .link em {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.news_big .text .link i {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: "黑体";
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.news_big .text .link:hover em {
  width: 100%;
}

.news_big .text .link:hover i {
  color: #18457C;
}

.news_big .img:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05)
}

.news_list {
  padding: 86px 0;
  background: #F9F9F9;
}

.news_list ul {
  width: 1600px;
  margin: 0 auto;
}

.news_list ul li {
  width: 508px;
  margin-right: 38px;
  margin-bottom: 90px;
}

.news_list ul li:nth-child(3n) {
  margin-right: 0;
}

.news_list ul li a {
  display: block;
}

.news_list li .img {
  display: block;
  width: 508px;
  height: 315px;
  overflow: hidden;
}

.news_list li .img img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.news_list li strong {
  display: block;
  font-size: 24px;
  font-weight: 500;
  color: #282828;
  margin-top: 30px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.news_list li .date {
  display: block;
  height: 14px;
  line-height: 14px;
  padding-left: 18px;
  background: url(../images/icon_date.png) no-repeat left center;
  margin: 23px 0 28px;
}

.news_list li p {
  height: 85px;
  line-height: 2;
  color: #686666;
}

.news_list li .link {
  display: block;
  color: #231815;
  font-family: "黑体";
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.news_list li .link i {
  color: #18457C;
}

.news_list li a:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05)
}

.news_list li a:hover strong, .news_list li a:hover .link {
  color: #18457C;
}

.news_list .page {
  width: 1600px;
  height: 70px;
  background: #fff;
  margin: 0 auto;
}

.news_list .page a.prev, .news_list .page a.next {
  width: 80px;
  padding: 0 35px;
  font-size: 18px;
  font-family: "黑体";
  line-height: 70px;
  color: #939393;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.news_list .page a.next {
  text-align: right;
}

.news_list .page a.prev:hover, .news_list .page a.next:hover {
  color: #18457C;
}

.news_list .page .number {
  width: 1300px;
  text-align: center;
  font-size: 0;
}

.news_list .page .number a {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  color: #898989;
  font-size: 14px;
  margin: 17px 3px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.news_list .page .number a.active, .news_list .page .number a:hover {
  background: #18457C;
  color: #fff;
}

.news_details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
  overflow-x: auto;
  overflow-y: scroll;
  display: none;
}

.news_details .content {
  position: relative;
  width: 1000px;
  /* height: 100%; */
  margin: 0 auto;
  background: #fff;
  padding: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.news_details .content span.close {
  position: absolute;
  top: 10px;
  right: -60px;
  width: 22px;
  height: 22px;
  background: #fff;
  padding: 14px;
  cursor: pointer;
}

.news_details .content span.close img {
  display: block;
  width: 100%;
  height: 100%;
}

.news_details .text_box {
  width: 100%;
  /* height: 100%; */
  /* overflow-y: auto;
  overflow-x: hidden; */
}

.news_details .text_box strong.title {
  display: block;
  font-size: 24px;
  color: #18457C;
  font-weight: 500;
  line-height: 1.6;
}

.news_details .text_box span.date {
  display: block;
  margin: 20px 0 50px;
  color: #7E7D7D;
}

.news_details .text_box span.date b {
  display: inline-block;
  padding: 4px 8px;
  background: #3E3A39;
  color: #fff;
  font-size: 12px;
  margin-right: 14px;
  border-radius: 3px;
}

.news_details .text_box .text {
  line-height: 1.8;
}

.news_details .text_box .text img {
  max-width: 100%;
  height: 1000px;
}

.news_details .page {
  position: relative;
  width: 100%;
  height: 70px;
  margin: 70px 0 10px;
  background: #F3F3F3;
}

.news_details .page a {
  line-height: 70px;
  font-size: 18px;
  color: #777;
}

.news_details .page a.prev, .news_details .page a.next {
  width: 310px;
  font-family: "黑体";
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.news_details .page a.prev {
  text-align: left;
  padding-left: 20px;
}

.news_details .page a.next {
  text-align: right;
  padding-right: 20px;
}

.news_details .page a.prev:hover, .news_details .page a.next:hover {
  color: #18457C;
}

.news_details .page a.back {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -32px;
  width: 64px;
  text-align: right;
  background: url(../images/icon_back.png) no-repeat left center;
}

/* product */

.product_menu {
  width: 100%;
  height: 50px;
  padding: 0 200px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #F4F4F4;
  background: #fff;
}

.product_menu strong {
  font-size: 24px;
  color: #282828;
  line-height: 50px;
}

.product_menu span.left {
  color: #727171;
  line-height: 50px;
  vertical-align: middle;
  margin-top: 6px;
  margin-left: 13px;
}

.product_menu .middle {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
}

.product_menu .middle span {
  display: inline-block;
  margin: 0 15px;
  cursor: pointer;
  color: #282828;
}

.product_menu .middle span:hover {
  color: #18457C;
}

.product_menu a.right {
  line-height: 50px;
  color: #18457C;
}

.product_imgs>div {
  position: relative;
  overflow: hidden;
}

.product_imgs img.bg {
  display: block;
  width: 100%;
  height: auto;
}

.product_imgs .text {
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 100%;
}

.product_imgs .text>div {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.product_imgs .img1 {
  color: #fff;
  text-align: center;
}

.product_imgs .img1 .text strong {
  display: block;
  font-size: 60px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.product_imgs .img1 .text p {
  font-size: 32px;
  margin-bottom: 80px;
}

.product_imgs .img1 .text span.price {
  display: block;
  font-size: 60px;
  font-weight: 500;
}

.product_imgs .img2 .text {
  width: 1600px;
  left: 50%;
  margin-left: -800px;
  letter-spacing: 2px;
}

.product_imgs .img2 div.right {
  width: 800px;
  padding-left: 320px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}

.product_imgs .img2 strong {
  display: block;
  font-size: 48px;
  line-height: 1.2;
}

.product_imgs .img2 strong i {
  display: block;
  color: rgba(255, 255, 255, 0.8)
}

.product_imgs .img2 p {
  line-height: 2;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  padding: 60px 0 80px;
}

.product_imgs .img2 span {
  font-size: 24px;
  display: block;
}

.product_imgs .img2 span b {
  font-size: 62px;
  margin: 0 20px 0 18px;
  font-weight: 100;
}

.product_imgs .img2 span b.blue {
  color: #008CD6;
}

.product_imgs .img2 span b.red {
  margin-right: 0;
  color: #FF3143;
}

.product_imgs .img3 {
  text-align: center;
}

.product_imgs .img3 strong {
  display: block;
  font-size: 48px;
  font-weight: 500;
  color: #282828;
}

.product_imgs .img3 p {
  font-size: 24px;
  color: #282828;
  line-height: 1.6;
  margin-top: 40px;
}

.product_imgs .img3 ul {
  width: 1000px;
  margin: 120px auto 0;
}

.product_imgs .img3 li {
  width: 500px;
}

.product_imgs .img3 li img {
  display: block;
  margin: 0 auto;
}

.product_imgs .img3 li b {
  display: block;
  font-size: 30px;
  margin: 50px 0 20px;
  font-weight: 500;
}

.product_imgs .img3 li span {
  display: block;
  font-size: 24px;
  color: #525253;
  margin: 0 0 20px;
  line-height: 1.6;
}

.product_imgs .img3 li i {
  display: block;
  font-size: 36px;
  font-weight: 500;
  color: #18457C;
}

.product_imgs .img4 .text {
  width: 1600px;
  left: 50%;
  margin-left: -800px;
  letter-spacing: 2px;
}

.product_imgs .img4 .text div.right {
  width: 800px;
  padding-left: 160px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}

.product_imgs .img4 strong {
  display: block;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 60px;
}

.product_imgs .img4 p {
  font-size: 24px;
  line-height: 1.8;
}

.product_details {
  position: relative;
}

.product_details div.left {
  width: 40%;
  height: 100%;
  position: absolute;
}

.product_details div.left p {
  padding: 10% 0 0 20%;
  font-size: 0;
}

.product_details div.left p strong {
  display: block;
  font-size: 30px;
  font-weight: 500;
}

.product_details div.left p strong i {
  display: block;
  width: 78px;
  height: 8px;
  background: #18457C;
  margin: 29px 0 55px;
}

.product_details div.left span {
  /* display: inline-block; */
  width: 50%;
  font-size: 18px;
  color: #898989;
  margin-bottom: 40px;
}

.product_details div.left span b {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  color: #282828;
}

.product_details div.left a {
  display: block;
  width: 100%;
  height: 120px;
  background: #18457C;
  color: #fff;
  line-height: 120px;
  text-align: center;
  font-size: 24px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.product_details div.left a img {
  vertical-align: middle;
  margin-top: -4px;
  margin-left: 70px;
}

.product_details div.right {
  width: 60%;
  position: relative;
  overflow: hidden;
}

.product_details div.right img {
  display: none;
  width: 100%;
  height: auto;
  min-height: 603px;
}

.product_details div.right img.show {
  display: block;
}

.product_details div.right .idx {
  position: absolute;
  left: 0;
  bottom: 44px;
  width: 100%;
  text-align: center;
  font-size: 0;
}

.product_details div.right .idx span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #A0A0A0;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.product_details div.right .idx span.active, .product_details div.right .idx span:hover {
  background: #18457C;
  border-color: #18457C;
}

.product .more {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 130px;
  overflow: hidden;
}

.product .more span.title {
  display: block;
  padding: 108px 0 50px;
  font-size: 30px;
  font-family: "黑体";
  color: #303030;
  text-align: center;
  letter-spacing: 11px;
}

.product .more ul {
  width: 1600px;
  margin: 0 auto;
}

.product .more li {
  width: 504px;
  margin-right: 44px;
}

.product .more li a {
  display: block;
  padding-bottom: 20px;
  /* -webkit-transition: all 0.4s;
  transition: all 0.4s; */
}

.product .more li:last-child {
  margin-right: 0;
}

.product .more li .img {
  display: block;
  width: 504px;
  height: 315px;
  overflow: hidden;
}

.product .more li .img img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.product .more li strong {
  display: block;
  font-size: 20px;
  font-family: "黑体";
  color: #000;
  padding: 34px 0 20px;
  letter-spacing: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.product .more li p {
  line-height: 1.6;
  height: 80px;
  color: #676666;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.product .more li .link {
  color: #000;
  font-family: "黑体";
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.product .more a:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.product .more a:hover strong, .product .more a:hover p, .product .more a:hover .link {
  color: #18457C;
}

/* result */

.result {
  width: 1600px;
  margin: 0 auto;
  font-size: 32px;
  background: #F9F9F9;
  margin-bottom: 40px;
  padding-bottom: 30px;
  color: #18457C;
  font-weight: bold;
  border-bottom: 1px solid #18457C;
  letter-spacing: 4px;
}

.result_not {
  text-align: center;
  padding: 50px 0 100px;
  color: #18457C;
  font-size: 24px;
  letter-spacing: 8px;
}

.result_list {
  padding: 86px 0;
  background: #F9F9F9;
}

.result_list ul {
  width: 1600px;
  margin: 0 auto;
}

.result_list ul li {
  width: 508px;
  margin-right: 38px;
  margin-bottom: 90px;
}

.result_list ul li:nth-child(3n) {
  margin-right: 0;
}

.result_list ul li a {
  display: block;
}

.result_list li .img {
  display: block;
  width: 508px;
  height: 315px;
  overflow: hidden;
}

.result_list li .img img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.result_list li strong {
  display: block;
  font-size: 24px;
  font-weight: 500;
  color: #282828;
  margin-top: 30px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.result_list li .date {
  display: block;
  height: 14px;
  line-height: 14px;
  padding-left: 18px;
  background: url(../images/icon_date.png) no-repeat left center;
  margin: 23px 0 28px;
}

.result_list li p {
  height: 85px;
  line-height: 2;
  color: #686666;
}

.result_list li .link {
  display: block;
  color: #231815;
  font-family: "黑体";
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.result_list li .link i {
  color: #18457C;
}

.result_list li a:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05)
}

.result_list li a:hover strong, .result_list li a:hover .link {
  color: #18457C;
}

.result_list .page {
  width: 1600px;
  height: 70px;
  background: #fff;
  margin: 0 auto;
}

.result_list .page a.prev, .result_list .page a.next {
  width: 80px;
  padding: 0 35px;
  font-size: 18px;
  font-family: "黑体";
  line-height: 70px;
  color: #939393;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.result_list .page a.next {
  text-align: right;
}

.result_list .page a.prev:hover, .result_list .page a.next:hover {
  color: #18457C;
}

.result_list .page .number {
  width: 1300px;
  text-align: center;
  font-size: 0;
}

.result_list .page .number a {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  color: #898989;
  font-size: 14px;
  margin: 17px 3px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.result_list .page .number a.active, .result_list .page .number a:hover {
  background: #18457C;
  color: #fff;
}

.result_details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
  overflow-x: auto;
  overflow-y: scroll;
  display: none;
}

.result_details .content {
  position: relative;
  width: 1000px;
  /* height: 100%; */
  margin: 0 auto;
  background: #fff;
  padding: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.result_details .content span.close {
  position: absolute;
  top: 10px;
  right: -60px;
  width: 22px;
  height: 22px;
  background: #fff;
  padding: 14px;
  cursor: pointer;
}

.result_details .content span.close img {
  display: block;
  width: 100%;
  height: 100%;
}

.result_details .text_box {
  width: 100%;
  /* height: 100%; */
  /* overflow-y: auto;
  overflow-x: hidden; */
}

.result_details .text_box strong.title {
  display: block;
  font-size: 24px;
  color: #18457C;
  font-weight: 500;
  line-height: 1.6;
}

.result_details .text_box span.date {
  display: block;
  margin: 20px 0 50px;
  color: #7E7D7D;
}

.result_details .text_box span.date b {
  display: inline-block;
  padding: 4px 8px;
  background: #3E3A39;
  color: #fff;
  font-size: 12px;
  margin-right: 14px;
  border-radius: 3px;
}

.result_details .text_box .text {
  line-height: 1.8;
}

.result_details .text_box .text img {
  max-width: 100%;
  height: 1000px;
}

.result_details .page {
  position: relative;
  width: 100%;
  height: 70px;
  margin: 70px 0 10px;
  background: #F3F3F3;
}

.result_details .page a {
  line-height: 70px;
  font-size: 18px;
  color: #777;
}

.result_details .page a.prev, .result_details .page a.next {
  width: 310px;
  font-family: "黑体";
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.result_details .page a.prev {
  text-align: left;
  padding-left: 20px;
}

.result_details .page a.next {
  text-align: right;
  padding-right: 20px;
}

.result_details .page a.prev:hover, .result_details .page a.next:hover {
  color: #18457C;
}

.result_details .page a.back {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -32px;
  width: 64px;
  text-align: right;
  background: url(../images/icon_back.png) no-repeat left center;
}

/* cause */

.cause_top {
  position: relative;
}

.cause_top img {
  display: block;
  width: 100%;
  height: auto;
}

.cause_top .text {
  position: absolute;
  left: 10%;
  top: 27%;
  width: 517px;
  height: 244px;
  background: #fff;
  padding: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cause_top .text strong {
  display: block;
  font-size: 36px;
  color: #18457C;
  line-height: 1;
}

.cause_top .text p {
  color: #524F4E;
  line-height: 1.8;
  margin-top: 26px;
}

.cause_type {
  width: 1600px;
  height: 100%;
  margin: 0 auto;
  font-size: 0;
}

.cause_type a {
  display: inline-block;
  line-height: 97px;
  border-bottom: 3px solid #fff;
  font-size: 18px;
  color: #767575;
  margin-right: 35px;
  padding: 0 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.cause_type a:hover, .cause_type a.active {
  /* font-weight: 500; */
  color: #18457C;
  border-bottom-color: #18457C;
}

.cause_list {
  background: #F3F4F4;
}

.cause_list_title {
  width: 1600px;
  height: 30px;
  margin: 0 auto;
  padding: 70px 0 50px;
}

.cause_list_title strong {
  font-size: 30px;
  border-left: 7px solid #18457C;
  line-height: 1;
  padding-left: 20px;
  margin-right: 30px;
}

.cause_list_title span {
  font-size: 18px;
  color: #999;
  vertical-align: middle;
  margin-top: 12px;
}

.cause_list .list {
  width: 1600px;
  margin: 0 auto;
  padding-bottom: 65px;
}

.cause_list .list li {
  width: 510px;
  background: #fff;
  padding: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 35px 35px 0;
}

.cause_list .list li:nth-child(3n) {
  margin-right: 0;
}

.cause_list .list li a {
  display: block;
  width: 100%;
}

.cause_list .list li .img {
  display: block;
  width: 100%;
  height: 200px;
}

.cause_list .list li .img img {
  display: block;
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

.cause_list .list li strong {
  display: block;
  font-size: 18px;
  color: #000;
  margin-bottom: 15px;
  margin-top: 40px;
  font-weight: 100;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.cause_list .list li p {
  color: #595757;
}

.cause_list .list li p i {
  width: 300px;
}

.cause_list .list li p b {
  color: #888;
  font-family: "黑体";
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.cause_list .list li p b:hover {
  color: #18457C;
}

.cause_list .list li:hover strong {
  color: #18457C;
}

.cause_more {
  padding-bottom: 100px;
  overflow: hidden;
}

.cause_more span.title {
  display: block;
  padding: 60px 0 50px;
  font-size: 30px;
  font-family: "黑体";
  color: #303030;
  text-align: center;
  letter-spacing: 11px;
}

.cause_more ul {
  width: 1600px;
  margin: 0 auto;
}

.cause_more li {
  width: 504px;
  margin-right: 44px;
}

.cause_more li a {
  display: block;
  padding-bottom: 20px;
}

.cause_more li:last-child {
  margin-right: 0;
}

.cause_more li .img {
  display: block;
  width: 504px;
  height: 315px;
  overflow: hidden;
  position: relative;
}

.cause_more li .img img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.cause_more li .img b {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 107px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #18457C;
}

.cause_more li strong {
  display: block;
  font-size: 20px;
  font-family: "黑体";
  color: #000;
  padding: 34px 0 20px;
  letter-spacing: 2px;
  /* -webkit-transition: all 0.4s;
  transition: all 0.4s; */
}

.cause_more li p {
  line-height: 1.6;
  height: 80px;
  color: #676666;
  /* -webkit-transition: all 0.4s;
  transition: all 0.4s; */
}

.cause_more li .link {
  color: #000;
  font-family: "黑体";
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.cause_more a .img:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* .cause_more a:hover strong,
.cause_more a:hover p, */

.cause_more a .link:hover {
  color: #18457C;
}

/* @media screen and (max-width: 1600px) {} */