<footer>
  <div class="footer">
    <div class="footer_link">
      <a href="#">关于我们</a>
      <a href="#">新零售事业</a>
      <a href="#">生物医药事业</a>
      <a href="#">冷链物流事业</a>
      <a href="#">人才招聘</a>
      <a href="#">联系我们</a>
    </div>
    <div class="hot_line">
      <span>全国服务热线 {{ public.hotline }}</span>
      <span>关注我们</span>
      <a href="{{ public.tmall }}" class="tmall" target="_blank">
        <img src="./images/icon_tmall.png" alt="">
      </a>
      <a href="#" class="wechat">
        <img src="./images/icon_wechat.png" alt="">
      </a>
    </div>
    <p class="copyright">{{ public.copyright }}</p>
  </div>
</footer>
<div class="float">
  <a class="clearFix">
    <span class="left">服务热线 {{ public.hotline }}</span>
    <img class="right" src="./images/icon_service.png" alt="">
  </a>
  <a class="clearFix">
    <span class="left">在线咨询</span>
    <img class="right" src="./images/icon_msg.png" alt="">
  </a>
  <a class="clearFix back_top">
    <span class="left">向上</span>
    <img class="right" src="./images/icon_back_top.png" alt="">
  </a>
</div>