<footer>
  <div class="footer">
    <div class="footer_link">
      <a href="about">关于我们</a>
      {% if public.categorys.length > 0 %}
      {% for item in public.categorys %}
      <a href="product?category={{ item._id.toString() }}">{{ item.name }}</a>
      {% endfor %}
      {% endif %}
      <a href="recruit">人才招聘</a>
      <a href="contact">联系我们</a>
    </div>
    <div class="hot_line">
      <span>全国服务热线 {{ public.hotline }}</span>
      <span>关注我们</span>
      <a href="{{ public.tmall }}" class="tmall" target="_blank">
        <img src="./images/icon_tmall.png" alt="">
      </a>
      <a href="#" class="wechat">
        <img src="./images/icon_wechat.png" alt="">
      </a>
    </div>
    <p class="copyright">{{ public.copyright }}</p>
  </div>
</footer>
<div class="float">
  <a class="clearFix">
    <span class="left">服务热线 {{ public.hotline }}</span>
    <img class="right" src="./images/icon_service.png" alt="">
  </a>
  <a class="clearFix" href="tencent://Message/?Uin={{ public.qq }}&websiteName=q-zone.qq.com&Menu=yes">
    <span class="left">在线咨询</span>
    <img class="right" src="./images/icon_msg.png" alt="">
  </a>
  <a class="clearFix back_top">
    <span class="left">向上</span>
    <img class="right" src="./images/icon_back_top.png" alt="">
  </a>
</div>