<header>
  <div class="header">
    <h1 class="left logo">
      <a href="/"><img src="{{ public.logo }}" alt="logo"></a>
    </h1>
    <div class="right clearFix right_link">
      <a class="left" target="_blank" href="{{ public.tmall }}"><img src="./images/icon_shopingcar.png" alt="">天猫商城</a>
      <a class="left" target="_blank" href="{{ public.en }}"><img src="./images/icon_net.png" alt="">EN</a>
      <a class="left search_btn">
        <img class="icon_search" src="./images/icon_search1.png" alt="">
        <img class="icon_close_search" src="./images/icon_close_search.jpg" alt="">
      </a>
    </div>
    <ul class="clearFix nav">
      <!--  active -->
      <li class="left">
        <a href="/"><span class="nav_title">首页</span></a>
      </li>
      <li class="left">
        <a href="javascript:"><span class="nav_title">核心竞争</span></a>
      </li>
      <li class="left product_nav">
        <span class="nav_title">复升事业<img class="img1" src="./images/icon_nav_down.png" alt=""><img class="img2"
            src="./images/icon_up.png" alt=""></span>
        <div class="nav_item">
          <ul class="clearFix">
            <li class="left">
              <a href="product?category={{ public.categorys[0].id }}">
                <img src="./images/img_nav10.png" alt="">
                <strong>新零售<sup>Pro</sup>事业</strong>
                <span>专注移动冷鲜领域，冷暖自由切换</span>
                <b>探索该系列 &gt;</b>
              </a>
            </li>
            <li class="left">
              <a href="product?category={{ public.categorys[1].id }}">
                <img src="./images/img_nav11.png" alt="">
                <strong>生物医药<sup>Pro</sup>事业</strong>
                <span>品质保温箱，医疗运输更安全</span>
                <b>探索该系列 &gt;</b>
              </a>
            </li>
            <li class="left">
              <a href="product?category={{ public.categorys[2].id }}">
                <img src="./images/img_nav12.png" alt="">
                <strong>冷链物流<sup>Pro</sup>事业</strong>
                <span>高效保温材料，解决长途运输保温困境</span>
                <b>探索该系列 &gt;</b>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="left">
        <a href="news"><span class="nav_title">资讯</span></a>
      </li>
      <li class="left public_nav">
        <span class="nav_title">探索复升<img class="img1" src="./images/icon_nav_down.png" alt=""><img class="img2"
            src="./images/icon_up.png" alt=""></span>
        <div class="nav_item">
          <div>
            <ul class="clearFix left">
              <li class="left">
                <a href="about">
                  <span class="img"><img src="./images/img_nav1.jpg" alt=""></span>
                  <strong>复升品牌</strong>
                  <span class="text">成就移动冷柜事业典范</span>
                  <img class="icon" src="./images/icon_right1.png" alt="">
                </a>
              </li>
              <li class="left">
                <a href="about">
                  <span class="img"><img src="./images/img_nav2.jpg" alt=""></span>
                  <strong>品牌实力</strong>
                  <span class="text">研发与生产实力并存，铸就未来</span>
                  <img class="icon" src="./images/icon_right1.png" alt="">
                </a>
              </li>
              <li class="left">
                <a href="about">
                  <span class="img"><img src="./images/img_nav3.jpg" alt=""></span>
                  <strong>企业文化</strong>
                  <span class="text">如需帮助，您尽可与我们联系</span>
                  <img class="icon" src="./images/icon_right1.png" alt="">
                </a>
              </li>
            </ul>
            <div class="right">
              <a href="recruit">
                <img class="img1" src="./images/icon_join1.png" alt="">
                <img class="img2" src="./images/icon_join2.png" alt="">
                <span>加入我们</span>
              </a>
              <a href="about">
                <img class="img1" src="./images/icon_cooperation1.png" alt="">
                <img class="img2" src="./images/icon_cooperation2.png" alt="">
                <span>合作伙伴</span>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="left public_nav">
        <span class="nav_title">服务与支持<img class="img1" src="./images/icon_nav_down.png" alt=""><img class="img2"
            src="./images/icon_up.png" alt=""></span>
        <div class="nav_item">
          <div>
            <ul class="clearFix left">
              <li class="left">
                <a href="#">
                  <span class="img"><img src="./images/img_nav4.jpg" alt=""></span>
                  <strong>服务政策</strong>
                  <span class="text">用心关怀，诚心服务</span>
                  <img class="icon" src="./images/icon_right1.png" alt="">
                </a>
              </li>
              <li class="left">
                <a href="branch">
                  <span class="img"><img src="./images/img_nav5.jpg" alt=""></span>
                  <strong>服务网点</strong>
                  <span class="text">立足重庆，服务全国多个省市</span>
                  <img class="icon" src="./images/icon_right1.png" alt="">
                </a>
              </li>
              <li class="left">
                <a href="contact">
                  <span class="img"><img src="./images/img7.jpg" alt=""></span>
                  <strong>联系我们</strong>
                  <span class="text">如需帮助，您尽可与我们联系</span>
                  <img class="icon" src="./images/icon_right1.png" alt="">
                </a>
              </li>
            </ul>
            <div class="right">
              <a href="#">
                <img class="img1" src="./images/icon_explain1.png" alt="">
                <img class="img2" src="./images/icon_explain2.png" alt="">
                <span>产品说明书</span>
              </a>
              <a href="message">
                <img class="img1" src="./images/icon_msg1.png" alt="">
                <img class="img2" src="./images/icon_msg2.png" alt="">
                <span>投诉或建议</span>
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="search">
      <div class="clearFix">
        <input class="left search_key" type="text" placeholder="请输入您要搜索的内容" />
        <span class="right confirm">确认搜索</span>
      </div>
    </div>
  </div>
</header>