<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{{ public.keyword }}">
  <meta name="description" content="{{ public.desc }}">
  <title>首页</title>
  <link rel="stylesheet" href="frontend/css/common.css">
  <link rel="stylesheet" href="frontend/css/public.css">
  <link rel="stylesheet" href="frontend/css/style.css">
  <link rel="stylesheet" href="frontend/css/animation.css">
  <link rel="stylesheet" href="frontend/css/sacle.css">
  <script type="text/javascript" src="frontend/js/jquery.min.js"></script>
  <script type="text/javascript" src="frontend/js/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="frontend/js/script.js"></script>
</head>

<body>
  {% include "header.html" %}
  {% block main %}{% endblock %}
  {% include "footer.html" %}
</body>

</html>