<div class="menu">
  <ul class="clearFix">
    <li class="left {{ title == '服务政策' && 'active' }}">
      <a href="#">
        <img src="./images/icon_contact1.png" alt="">
        服务政策
      </a>
    </li>
    <li class="left {{ title == '服务网点' && 'active' }}">
      <a href="branch">
        <img src="./images/icon_contact2.png" alt="">
        服务网点
      </a>
    </li>
    <li class="left {{ title == '产品说明书' && 'active' }}">
      <a href="#">
        <img src="./images/icon_contact3.png" alt="">
        产品说明书
      </a>
    </li>
    <li class="left {{ title == '联系我们' && 'active' }}" >
      <a href="contact">
        <img src="./images/icon_contact4.png" alt="">
        联系我们
      </a>
    </li>
    <li class="left {{ title == '投诉或建议' && 'active' }}">
      <a href="message">
        <img src="./images/icon_contact5.png" alt="">
        投诉或建议
      </a>
    </li>
  </ul>
</div>